.kartModulBg {
width:190px;
height:301px;
display:block;
position: absolute;
left:4px;
top:23px;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/kart/mapOverlay_80.png', sizingMethod='scale');
	background:none !important;
	background-image: none !important;
}
img {-ms-interpolation-mode: bicubic;}
#topmenuButtonDuellen,
#topmenuButtonValg,
#topmenuButtonStorting,
#topmenuButtonPolls,
#topmenuButtonRep,
#topmenuButtonFav,
#topmenuButtonSok,
#topmenuButtonHome{ display: inline-block; }
#wrapperUnderMenu {display: block;}
@media screen and (max-width: 800px){
	.mirror {
	/* IE8+ - must be on one line, unfortunately */ 
   -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-0.85, M12=0, M21=0, M22=0.85, SizingMethod='auto expand')";
   
   /* IE6 and 7 */ 
   filter: progid:DXImageTransform.Microsoft.Matrix(
            M11=-0.85,
            M12=0,
            M21=0,
            M22=0.85,
            SizingMethod='auto expand');
	margin-top:105px;}
}

@media screen and (max-width: 680px){
	.mirror {/* IE8+ - must be on one line, unfortunately */ 
   -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-0.7, M12=0, M21=0, M22=0.7, SizingMethod='auto expand')";
   
   /* IE6 and 7 */ 
   filter: progid:DXImageTransform.Microsoft.Matrix(
            M11=-0.65,
            M12=0,
            M21=0,
            M22=0.65,
            SizingMethod='auto expand');

	margin-top:105px;}
	 #mandaterParti .mandatesMajority {

		top:55px;
	}
}