﻿*{margin:0;padding:0;}


/*** BLÅ FARGE #19ACC8 ***/
/*** FVN BLÅ FARGE #00659C ***/
/*** PINK FARGE #FF7BAB ***/
.isiframe{width:800px;height:600px;overflow-x:hidden;overflow-y:hidden;}
.isMyFav{background-image: url("../images/favStarWhite.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 25px auto;}
#favHolderButton{    
	bottom: 25px;
	position: absolute;
    right: 25px;
	z-index:10;cursor:pointer;}
html, body {  margin: 0; padding: 0; height:100%; font-family: 'Source Sans Pro', sans-serif;} 

.repholder,
#storRightBtn,
#storLeftBtn,
.parti1holder,
.parti1holderBig,
.repholderBig,
.pLogoWrapper ,
#kartAlt,
#kartNormal,
.kartMenuLink,
#valgRightBtn,
#valgLeftBtn,
.historyLegendHeader  {cursor:pointer;}
.hidden { display:none !important; }
.positionedObj{position:absolute;}
.disabled {opacity: 0.35;pointer-events: none;}
.mMBtn.disabled{background:grey;-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	}
.disabled .ieHider {background-image: url("../images/button/ieHider.png");}
.bubbleNr{font-weight: bold;font-size:25px;color:white;width: 30px;text-align:center;}
.highlighted {background-color:lightgray;}
.hasBackground {background-color:#A3A3A3;}
.hasTableBackground {background-color:#ECECEC;}
.hasTableBackground.highlighted{background-color:#A3A3A3;}
.displayBold {/*font-weight:bold;*/}
.makeBold {font-weight:bold;}
hr.menyHR {
    color: #FFFFFF;
    height: 3px;
    margin-top: 5px;
}
.contentDiv {
   /* border-bottom: 1px solid grey;*/
    display: block;
    /*height: 278px;*/
	height: 246px;
    margin: auto;
    position: relative;
    width: 500px;
}
#mandates .votesCountedContainerSmall {
    margin-top: 40px;
}
.partyRegionValueHeader {
    font-size: 20px;
    padding-left: 15px;
	padding-bottom:10px;
	height: 36px;
}
.tablePartiHeader {
    font-size: 25px;
    margin: 5px 15px 10px;
}

.partiMenuWrapper {
    /*border-bottom: 2px solid white;*/
    height: 35px;
   
    width: 100%;
}
.partyRegionValueHeader > img {
    margin-left: 15px;
}
#manHeader {margin-top:25px;font-size:25px;width:150%;margin-left:-25%;text-align:center;color: #7D7B7E;letter-spacing: 9px;}
#pollSelect_mandates {
    /*top: 95%;*/
    left: 30%;

}
#regionsHeader {text-align:center;letter-spacing: 2px;color: #7D7B7E;width:150%;margin-left:-25%;}
#table #regionsHeader {font-size: 35px;margin-top:5px;margin-bottom: 10px;}
#table .votesCountedContainerSmall {
    padding-top: 10px;
}
body {background-image:url('../images/border.png');
	
	background-repeat:x-repeat;}
body#frontPage {width: 225px;height:150px;margin-top:10px;}
#main{
	min-height:100%;
	position:relative;
	margin: 0;
	padding: 0;
}
#main.fsDuell {
	width: 235px;
	height:133px;
	margin-left:5px;
	
}
#mainPanel{
	/*opacity:0;*/
	background: #FFF;
	width:100%;
	position:absolute;
	bottom: 0;
	overflow:hidden;
}

#header{
	color:#FFFFFF;
	clear:both;
	position: relative;
}

#searchBox{
	
	width:200px;
	/*position: absolute; 
	top: 63px; */
}
#logo{
	position:absolute;
	top:10px;
	right:10px;
	z-index:10000000;
}

#logo > img {
     
    max-width: 145px;max-height: 70px;
}
#topmenu{
	margin: 0;
	padding: 0;
	/*background-color:#FFFFFF;*/
	position:absolute; 
	text-align: center;
	display: table;
	-sand-transform:rotate(30deg);
}

#topmenuButtonDuellen,
#topmenuButtonValg,
#topmenuButtonStorting,
#topmenuButtonPolls,
#topmenuButtonRep,
#topmenuButtonFav,
#topmenuButtonSok,
#topmenuButtonHome{
	margin: 0;
	padding: 0;
	display: table-cell;
	vertical-align: bottom;
	text-align: center;
	cursor:pointer;
}

#wrapperUnderMenu {
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	width:100%;
	display:block;
	position: absolute;
	z-index:10;
	background-color: #19ACC8;
	height:0;
}
.FV #wrapperUnderMenu { background-color: #00659C;}
#valgUnderMenu,#pollUnderMenu{
	width: 485px;
	margin: 15px auto 5px;
	/*display: table;*/
	margin-top:15px;
	padding-bottom:5px;
	border-bottom: 2px solid #FFF;
}
#topmenuButtonMunicipality,
#topmenuButtonNation,
#topmenuButtonCounty{width:32%;display:inline-block;margin-right:2px;margin-left:2px;cursor:pointer;}
#topmenuButtonNationPoll,
#topmenuButtonCountyPoll {width:48%;display:inline-block;margin-right:2px;margin-left:2px;cursor:pointer;}
#circleContainer{
	margin: 10px auto;
	width: 450px;
	z-index:99999;
}
.circle{
	width:50px;
	height:50px;
	display: table-cell;
	color: #FFF;
	background-repeat:no-repeat;
	vertical-align: bottom;
	text-align: center;
	cursor:pointer;
}
.circleText{}
.button {
	display: table-cell;
	text-align: center;
	color: #FFF;
	background: rgba(225, 225, 225, .5);
	cursor:pointer;
}
a ,a:hover, a:visited{ color: #FFFFFF; text-decoration:none;cursor:pointer;}
.button.active{background: rgba(225, 225, 225, 0);}
.button:hover {text-decoration: underline;}
.boxLink {
    display: inline-block;
	cursor: pointer;
	font-size: 10.5pt;
}
.boxLink:hover {text-decoration: underline;}
/*.activeMMBtn,*/
.whiteBG {background: rgba(225, 225, 225, .5);}
.gradientBG,.regionSelectDiv  {
	
	

background-color: rgba(255, 255, 255, 0.4);

 

color: rgba(255, 255, 255, 0.4);


}
.underMenu{display:none;}
.blockMenu {color: #FFFFFF;  width: 500px;margin:auto;}
.regionWrapper {
    padding: 6px;
}
.notYetInfo {
    font-style: italic;
    text-align: center;
	font-size: 11px;
}
#mandates,
#votes,
#history,
#table,
#parties{
	/*position:absolute;
	bottom: 60px;
	top: 110px;*/
	z-index:1;
	width:100%;
	/*overflow:hidden;*/
	/*transform:scale(0.8);
	-moz-transform:scale(0.8);
	-ms-transform:scale(0.8);
	-webkit-transform:scale(0.8);
	-o-transform:scale(0.8);*/
	position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;
}
#votesHeader {position: absolute;top:-80px;width:150%;left:-25%;text-align:center;/*font-size:40px;*/letter-spacing:9px;pointer-events:none;color:#7D7B7E;margin-top:35px; font-size:25px;}
#mandates .contentHeadline {color:#7D7B7E;margin-top:35px; font-size:25px;display:block;}
#valgMaalingWrapper {position:absolute;top:0;left:0;right:0;bottom:0;}
/** fav ***/
.favRow{width: 260px;height:29px;}
.favStar {text-align:center;width:40px;}
.favClose {text-align:center;width:40px;}
.favText {color: black;padding:3px;vertical-align:middle;line-height:0.5;width:174px;font-size: 13pt;cursor:pointer;}
.favouriteContainer{ width: 260px;margin:auto;}
.favouriteCell {color:black;display:inline-block;height:29px;}
.favWrapper{width: 500px; margin:auto;}
#favSelector{width: 500px; padding:0;}
.favouriteCellHL,#favPanel .headLine{color:#FFF;margin-top: 15px;margin-bottom: 10px;font-size: 10pt; letter-spacing:1.5px;text-align:center;}
#favPanel .headLine{margin:7px auto;}
/*** STORTING ***/
#mandates {margin:auto; overflow: visible; position:absolute;top:0;bottom:0;left:0;right:0;}
#mandaterParti{display:inline;position:absolute;top:0;bottom:0;left:0;right:0;}
#mandaterBlock {display:inline;position:absolute;top:0;bottom:0;left:100%;right:-100%;}
#mandaterBubble{display:inline;position:absolute;top:0;bottom:0;left:200%;right:-200%;}
.mandatesLabel{
	
	width:45px;
	height:16px;
    text-align:right;
    padding:8px;
    position:absolute;
	font-size:12pt;
	border-bottom: 2px solid darkgrey;
}
.rotate{
	
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}
.mirror{
	/*-moz-transform:scaleX(-1);
	-ms-transform:scaleX(-1);
	-webkit-transform:scaleX(-1);
	-o-transform:scaleX(-1);
	transform:scaleX(-1);*/
}
.mirrorY{
	-moz-transform:scaleY(-1) scaleX(-1);
	-ms-transform:scaleY(-1) scaleX(-1);
	-webkit-transform:scaleY(-1) scaleX(-1);
	-o-transform:scaleY(-1) scaleX(-1);
	transform:scaleY(-1) scaleX(-1);
}
#mandaterParti .mandatesMajority {
	position: absolute;
	top:55px;
	height:7px;
	line-height:7pt;
	font-size: 10pt;
	color:#7D7B7E;
	margin:auto;
}
/*#topmenu li a.disabled{
	color:#A0A0A0;
}
*/
/* Pollmenu */
#pollMenu{
	margin: 0;
	position:absolute;
	top:178px;
	height:36px;
	visibility:hidden;
	background-color:#D0D0D0;
}
#pollMenuNation{
	height:26px; /* 28 - 6px border - 4px padding*/
	width:148px; /* 158 -*/
	padding:2px;
	border-top:3px #D0D0D0 solid;
	border-bottom:3px #D0D0D0 solid;
	border-left:5px #D0D0D0 solid;
	border-right:5px #D0D0D0 solid;
	text-align:center;
	color:#FFFFFF;
	font-weight:bold;

	background-color:#AAAAAA;
	float:left;
	line-height:26px;
}
.pollMenuSelect{
	height:36px; 
	width:173px;
	border-top:3px #D0D0D0 solid;
	border-bottom:3px #D0D0D0 solid;
	border-left:0;
	border-right:5px #D0D0D0 solid;
	padding:2px;
	color:#FFFFFF;
	background-color:#AAAAAA;
	margin:0;
	float:left;

	font-weight:bold;
	text-align:center;	
	background-image:url('../images/pad/down_arrow.png');
	background-position:right;
	background-repeat:no-repeat;
	-webkit-appearance: none;
	-webkit-border-radius:0;
}
.pollMenuButton{
	height:36px;
	width:53px;

	font-weight:bold;	
	color:#646562;
	text-align:center;
	background-color:#AAAAAA;
	border-top:3px #D0D0D0 solid;
	border-bottom:3px #D0D0D0 solid;
	border-left:0;
	border-right:5px #D0D0D0 solid;
	-webkit-appearance: none;
	-webkit-border-radius:0;
}

#footer{
	width:100%;
	margin-top:20px;
	height:30px;
	line-height:20px;
	background-image:url('../images/logo_320.png');
	background-repeat:no-repeat;
	background-position:center right;
	position: fixed;
	bottom:0;
	background-size:15%;
	/*height:36px;
	text-align:right;
	position:absolute;
   	bottom:0;
   	width:100%;*/
	
   /*background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.02, rgb(255,255,255)),color-stop(1, rgb(158,158,158)));*/
}
.bottomFooter {
	/*background-image:url('../images/footer.png');*/
	width:100%;
	height:30px;
	/*background-repeat:repeat-x;*/
	position: fixed;
	bottom: 0;
	z-index:100;
}
#footerImage{
	position:absolute;
	bottom:0px;
}

/* Circles */
#circleContainer{

}

/*#circleVotes{ background-image:url('../images/pad/votes.png'); background-repeat:no-repeat;background-position:37.5px 30px;}	
#circleMandates{background-image:url('../images/pad/mandates.png'); background-repeat:no-repeat;background-position:33.5px 30px;}	
#circleHistory{background-image:url('../images/pad/history.png'); background-repeat:no-repeat;background-position:27px 30px;}	
#circleParties{background-image:url('../images/pad/parties.png'); background-repeat:no-repeat;background-position:38.5px 30px;}	
#circleTable{background-image:url('../images/pad/table.png'); background-repeat:no-repeat;background-position:23px 30px;}*/	
#circleKart{ background-image:url('../images/button/kartBtn.png');width:66px;height:72px;}	
#circleVotes{ background-image:url('../images/button/stemmerBtn.png');width:66px;height:72px;}	
#circleMandates{background-image:url('../images/button/mandaterBtn.png');width:66px;height:72px;}	
#circleHistory{background-image:url('../images/button/histoBtn.png');width:66px;height:72px;}	
#circleParties{background-image:url('../images/button/partierBtn.png');width:66px;height:72px;}	
#circleTable{background-image:url('../images/button/tabellBtn.png');width:66px;height:72px;}	
#storUnderMenu{width:200px;margin: 10px auto;}
#topmenuButtonMandater{background-image:url('../images/button/mandBtn.png');width:66px;height:72px;}
#topmenuButtonRepres{background-image:url('../images/button/galleriBtn.png');width:66px;height:72px;}
#topmenuButtonPartier{background-image:url('../images/button/partierBtn.png');width:66px;height:72px;}
#circleCurrent{
	width:60px;
	height:60px;
	padding:30px;		
	/*-moz-border-radius:60px;     
	-webkit-border-radius:60px;*/
	background-color:#F5F5F5;
	position:absolute;
	background-repeat:no-repeat;
	margin-right:9px;
	display:none;
	/*opacity:0;*/
	z-index:1003;
}

#topmenu{
    /*left:214px;*/
	/*width:766px;*/
}
/*#topmenuBorder{
	width:766px;
	left:214px;	
}*/


/* iPad landscape */
/*@media only screen and (orientation:landscape){*/

.votesValue {
    font-weight: bold;
}	

	#footerImage{
		right:145px;
	}
	
	#reloadableComponent{
		margin: auto;
	}

	
	#circleCurrent{
		left:130px;
		top:120px;
	}

	#searchBox{
		/*left: 228px;*/
	}

	#pollMenu{
		left:214px;				
	}
	#favouriteLabel{
		left:176px;
	}

	#favouriteStar{
		left:136px;
		z-index:9999;
	}

	#divCloseButton{
		top: 530px;
		left: 725px;
	}
	#divCircleVotesCounted{
		top: 530px;
		left: 360px;
	}
	
	#favouriteSelectorLabel{
		left:206px;
	}
	.favouriteSelectorSelect{
		left:206px;	
	}
	#favouriteSelectorOK{
		left:206px;
	}
	#favouriteSelectorCancel{
		left:774px;
	}
	#favouriteSelectorAnimStar{
		left:206px;
	}
	#favouriteSelectorSmallStar1{
		left:484px;
	}	
	#favouriteSelectorSmallStar2{
		left:735px;
	}	
	#favouriteSelectorLabel1{
	
	
	
	
	
	
		left:484px;
	}
	#favouriteSelectorLabel2{
		left:484px;
	}
	#favouriteSelectorLabel3{
		left:484px;
	}
	#favouriteSelectorLabel4{
		left:484px;
	}
	#favouriteSelectorLabel5{
		left:484px;
	}	
/*}*/



#searchResults{
	margin: auto;
	width: 500px;
}
.regionSelectDiv{ /* countyselect, municipalityselect */
	margin: auto;
	padding: 5px;
	color: #FFFFFF;
	font-weight:normal;
	z-index: 2;
	width: 477px/*430px*/;
	font-size:10.5pt;
}
.regionSelectDiv a{
	display:inline;
	padding:0;
	text-align: left;
	text-decoration: none;
	color: #FFFFFF;
}
.regionSelectDiv a:hover{text-decoration:underline;}
/* Selection box for latest 10 polls */
.latestPollSelect{
    height:20px;
	line-height:12px;
	width:300px;
	background:none;
	font-weight:bold;	
	color:#000000;
	font-size:12px;
	border:1px solid lightgray;
	margin:0;
    position:absolute;
    left:40%;
    bottom:0;
	/*-webkit-appearance: menulist-button;*/
    /*display:none;*/
}
.pollPanelLabel{
    bottom: 0;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 12px;
    font-style: italic;
    position: absolute;
    text-align: center;
    width: 100%;
}
.boardChangeLabel{

	font-family: 'Source Sans Pro', sans-serif;
	font-style: italic;
    width: 100%;	
    position:absolute;
    text-align: center;
    left:0;
    bottom:-120px;
}

/* Main circle component */
#mainCircle {
	position:absolute;
	/*bottom: 0;*/
	
	z-index:1;
	 /*display:none; make sure dropdown menu for counties and municipalities is clickable */
	padding: 0;
	overflow: hidden;
	background-color:#FFFFFF;
	width: 100%;
}
#mainCircleHeaderText{
	color:#5A5A5A;
	width:100%;
	text-align:center;
	margin-top:20px;
	/*opacity:0;*/
}
#mainCircleDescriptionText{
	color:#000000;
	width:100%;
	text-align:center;
	margin-top:-10px;
	/*opacity:0;*/
    font-weight: normal;
}
#mainCircleRegionText{
	color:#000000;
	width:100%;
	text-align:center;

}

#divCloseButton{
	display:none;
}
#closeButton{
	color:#FFFFFF;
	text-decoration:none;
}

#divCircleVotesCounted{
	position:fixed;
	width: 300px;
}


/* End Maincircle component */

/* Reloadable component */

#reloadableComponent{
	/*padding-top:200px;*/
	position:absolute;
	top: 0;
	bottom:0;
	left:0;
	right:0;
}
.fsDuellen #reloadableComponent{
	top: 0px;
	left: 5px;
	
}
.fsDuell #reloadableComponent{
	top: 0px;
	left: 5px;
	
}
#pollHeader{
	font-size:15px;
	color:#000000;
	text-align:center;
}
#regionHeader{
	font-size:43px;
	font-weight:bold;
	text-align:center;
}
/* End Reloadable component */

/* Majority container*/
#majorityContainer{

	padding-top:21px;
	padding-left:21px;
	padding-right:21px;
	width:100%;
    
    color:#000000;
    text-align:center;
    border-collapse:collapse;
}
#majorityComponentRed{
    height:100%;
    width:50%;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 0;
    border-right:1px #000000 solid;
	vertical-align:middle;
}
#majorityComponentRed > div {
    height: 15px;
    overflow: hidden;
}
#majorityComponentBlue > div {
    height: 15px;
    overflow: hidden;
}
#majorityComponentBlue{
    height:100%;
    width:50%;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 0;
    padding-right: 5px;
    border-left:1px #000000 solid;
	vertical-align:middle;
}

/* End Majority container */

/* Votes counted*/
.votesCountedContainer{
	width:300px;
	font-size:9pt;
	position:absolute;
	font-weight:normal;
	color:#000000; 	
}
.votesCountedHeader{
	padding-top:4px;
	text-align:left;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: italic;
}
.votesCountedPercent {
    text-align: right;
    padding-left: 10px;
    width: 50%;;
}
.votesCountedEmpty{
	/*background-color:#ECECEC;*/
	background:rgba(0,0,0,.37);
	border-radius:5px;
	/*width: 80%;*/
}
.votesCountedFilled{
	background-color:#000000;
	border-radius:5px;
}
.votesCountedText{
	text-align:right;
    font-size: 18px;
}
table#votesContainer{ width:70%;font-size: 12pt;text-align:center;margin:auto;position:absolute;bottom:70px;left:15%;z-index:1; border-collapse:collapse; }
table#votesContainer  td {padding:8px;}
table#votesContainer .votesLogo { -webkit-border-radius: 5px 5px 0px 0px; border-radius: 5px 5px 0px 0px; }
table#votesContainer .votesDirection {-webkit-border-radius: 0px 0px 5px 5px; border-radius: 0px 0px 5px 5px;}
.partyNames{width:70%;font-size: 10pt;text-align:center;margin:auto;position:absolute;bottom:130px;left:15%;}
/* End Votes counted */

/* Columns */
#columnsContainer{
	width:476px;
	position:relative;
	font-size:10pt;
	text-align:center;	
margin:auto;
border-bottom: 1px solid lightgray;	
}
#columnsBackground{
	font-size:9pt; 
	font-family: 'Source Sans Pro', sans-serif;
	font-style:italic;
	color:#A9A9A9;
	font-weight:normal;
	width:100%;
    height: 100%;
}
.columnsBackgroundRow{
    border-bottom:1px #B5B5B5 solid;
    vertical-align: bottom;
}
.callOutValue {
	/*-moz-box-shadow: 3px 3px 4px #A0A0A0;
	-webkit-box-shadow: 3px 3px 4px #A0A0A0;
	box-shadow: 3px 3px 4px #A0A0A0;
	
	background-color:#FFFFFF;*/
	 background-image: url('../images/votesBubble.png');
    background-repeat: no-repeat;
    background-position:0 3px;
	color:#FFFFFF;
	font-size:11pt;
	text-align:center;
	position:absolute;
	width:30px;
	height:24px;
	line-height:20px;
	padding-top:2px;
}
.callOutDiff{
	text-align:center;
	font-size:15px;
	font-family: 'Source Sans Pro', sans-serif;
	font-style:italic;
	font-weight:normal;
	position:absolute;
	width:35px;
	height:20px;
	line-height:20px;
}
.arrow{
	width:15px;
	height:10px;
	position:absolute;
}

.logo{
	max-width:40px;
	position:absolute;
	bottom:0;
}

/* End Votes component*/

/* Table component*/
#tableContainer{
	width:100%;
	/*height:100%;*/
	/*font-size:8pt;*/
    font-weight: normal;
	margin:0 auto 0;
	border-collapse:collapse;
}

.tableHeader{
	border-bottom:1px #E4E4E4 solid;
	border-left:1px #E4E4E4 solid;
	text-align:center;
    vertical-align: middle;
	font-size:9pt;
    font-weight: bold;
    height: 30px;
	color:white;

}
.tableData{
	text-align:right;
	border-bottom:1px #E4E4E4 solid;
	border-left:1px #E4E4E4 solid;
    padding: 2px 4px 2px 3px;
    height: 13px;
}
.tableInfo {
    width:100%;
    text-align:center;
    font-size: 10pt;
    font-weight: normal;
    padding-top: 15px;
    
}
/* End Table component*/

/* Mandates (salen) component*/
.mandatesLabel{

}
.mandatesDescription{

	width:100%;
	text-align:center;
	position:absolute;
}
.mandatesMajority{
	font-weight:bold;
	font-size:10pt;
	color:#000000;
	/*width:111px;*/
	width:250px;
	height:13px;
	text-align:center;
	border-collapse:collapse;
	position:absolute;
	left:173px;
	/*bottom:30px;*/
}

#majorityComponentRedSalen{
	background-color:#FF0000;
	height:100%;
}

#majorityComponentBlueSalen{
	background-color:#00AFCC;
	height:100%;
}
/* End Mandates (salen) component*/

/* Representatives component*/
.seatsRepsLabel{
	position:absolute;
	text-align:center;
	color:#3D3D3D;
}
.seatsRepsLogo{
	max-width:40px;
	position:absolute;
}

/* History component*/
.historyPoint{
	width:12px;
	height:12px;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;

	border-radius:12px;
	position:absolute;
	z-index:100;
}
.historyLabel{
	font-size:10pt;
	color:#000000;
	position:absolute;
	margin-top:5px;
	/*-webkit-transform:rotate(60deg);
	-moz-transform:rotate(60deg);
	-o-transform:rotate(60deg);
	-ms-transform:rotate(60deg);
	transform: rotate(60deg);*/
}
.line{
	position: absolute;
	height: 0px;
	border-style: solid;
	z-index:0;
}
.historyLegendHeader{
	position:absolute;
	font-size:12pt;
	text-decoration:none;
	color:#000000;
	z-index:100;
}

.historyLegendBackground{
	position:absolute;
	font-size:9pt;
	width:80px;
	/*height:25px;*/
	height:20px;
}
.historyLegendCheckBox{
	position:absolute;
	z-index:100;
	margin:4px;
	left:5px;
}
.historyLegendLabel{
	position:absolute;
	left:30px;
	top:1px;
	font-family: 'Source Sans Pro', sans-serif;
	/*font-style:italic;*/
	font-weight:normal;
}
.historyTooltip{
	width:175px;
	height:50px;
	left:0px;
	top:0px;
	position:absolute;
	background-color:#FFFFFF;
	z-index:1000;
	font-size:12px;
	font-weight:normal;
	padding:10px;
	visibility:hidden;
	/*opacity:0;*/
}
.axisStyle{ 
	font-family: 'Source Sans Pro', sans-serif;
	font-size:9pt; 
	font-style:italic;
	color:#A9A9A9;
	position:absolute;
	top:-5px;
}
/* End History component*/

/* Favourite component */
#favouriteLabel{
	position:absolute;
	bottom:7px;
	padding-left:10px;
	font-size:18px;
	font-weight:bold;
}

#favouriteStar{
	position:absolute;
	bottom:10px;
}

#favouriteSelector{
	/*opacity:0;*/
	width:100%;
	height:100%;
	display:none;
	padding: 0;
	color:#FFFFFF;
	z-index:1003;
	position:absolute;
	top:0;
	left:0;
}
#favouriteSelectorLabel{
	position:absolute;
	top:228px;
}
.favouriteSelectorSelect{
	position:absolute;
	top:270px;

	height:30px;
	width:192px;
	font-size: 10pt;
	font-weight:bold;	
	color:#000000;
	margin:0;
}
#favouriteSelectorOK{
	height:30px;
	position:absolute;
	top:350px;
	font-size: 10pt;
	font-weight:bold;	
	color:#000000;	
}
#favouriteSelectorCancel{
	position:absolute;
	top:160px;
}
#favouriteSelectorAnimStar{
	position:absolute;
	top:155px;
}
#favouriteSelectorSmallStar1{
	position:absolute;
	top:303px;
}	
#favouriteSelectorSmallStar2{
	position:absolute;
	top:343px;
}	
#favouriteSelectorLabel1{
	position:absolute;
	top:228px;
}
#favouriteSelectorLabel2{
	position:absolute;
	top:248px;
}
#favouriteSelectorLabel3{
	position:absolute;
	top:268px;
}
#favouriteSelectorLabel4{
	position:absolute;
	top:288px;
}
#favouriteSelectorLabel5{
	position:absolute;
	top:328px;
}

#lastWeek{
	width:100%;
	margin-top:50px;
	height:50px;
	line-height:50px;
}

#lastWeekCircle{
	background-color:#A7A7A7;
	color:#FFFFFF;
	font-size:37px;
	font-weight:bold;
	text-align:center;
	width:50px;
	height:50px;
	-webkit-border-radius:50px;
	padding:0;
	padding-top:2px;
	padding-left:4px;
	margin: 0 auto;	
	/*-webkit-appearance: none;
	border:0;	
	margin-left:10px;*/
}
#lastWeekCircleSelect{
	background-color:#A7A7A7;
	color:#FFFFFF;
	font-size:37px;
	font-weight:bold;
	text-align:center;
	width:50px;
	height:50px;
	-webkit-border-radius:50px;
	padding:0;
	padding-top:2px;
	/*padding-left:14px;*/
	margin: 0 auto;	
	-webkit-appearance: none;
	border:0;	
	margin-left:10px;
}

#lastWeekLabel{
	font-size:15px;
	font-style:normal;
	float:left;
	margin-left:85px;
}

/* Autocomplete searchresults*/
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
	font-size:14px;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}
/* End Autocomplete searchresults*/

/* Party component*/
.partyContainer {
   margin-top: 9px;
    padding: 7px 11px;
    position: relative;
    width: 96%;
}
.reloadableComponentTable.partyContainer {
    margin-top: 0;
    padding: 0;
    width: 100%;
}
.partyHeader {
    border-bottom: 2px #F0F0F0 solid;
    text-align: center;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    height: 40px;
}
.partyHeaderSelected{
    border: 2px #F0F0F0 solid;
    text-align: center;
    padding: 5px;    
    height: 40px;
}

.partyHeaderImage {
    vertical-align: middle;
}
#selectedPartyHeader {
    text-align: center;
    padding-top: 20px;
    font-size: 28px;   
}
.partyElectionMenuElement {
    background-color: #19ACC8;
    
    color: white;
    display: inline-block;
    font-size: 14px;
    margin: 2px;
    padding-bottom: 3px;

    padding-top: 3px;
    text-align: center;
    width: 31%;
	cursor:pointer;
}
.partyElectionMenuElement.active {color:#000;background-color:transparent;/*border-bottom: 12px solid #CCCCCC;*/}
#reloadablePartyComponent {
    margin-top: 30px;
    width:100%;
    height:100%;
    /*border:1px #000000 solid;*/
}
.partyFactLabel {
    font-weight: normal;
    text-align: left;
    padding-left: 5px;
    padding-bottom: 5px;
    vertical-align: top;
}
.partyFactValue {
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
    padding-bottom: 5px;
    vertical-align: top;
}

.partyRegionTable {
    width:100%;
    font-size:10pt;
    font-weight:normal;
}
.partyRegionName {
    padding-bottom:5px;
    text-align:right;
}
.partyRegionValue {
    padding:7px 5px;
    text-align:left;
    width:100px;

}
.partyRegionValueRight {
    padding:7px 5px;
    text-align:right;
    width:100px;

}
.partyRegionValueBox {
	/*-moz-box-shadow: -3px 3px 4px #A0A0A0;
	-webkit-box-shadow: -3px 3px 4px #A0A0A0;
	box-shadow: -3px 3px 4px #A0A0A0;*/
	
	background-color:#FFFFFF;
    height:20px;
    line-height:20px;
    padding-left: 3px;
}

.partyRegionValueBoxRight {
	/*-moz-box-shadow: 3px 3px 4px #A0A0A0;
	-webkit-box-shadow: 3px 3px 4px #A0A0A0;
	box-shadow: 3px 3px 4px #A0A0A0;*/
	
	background-color:#FFFFFF;
    height:20px;
    line-height:20px;
    padding-right: 3px;   
}


/* Votes counted for component*/
.votesCountedContainerSmall{
	font-size:12px;
	padding-top:20px;
	padding-left:30px;
	padding-right:30px;
	width:30%;
	font-weight:normal;
	color:#000000; 	
	margin:auto;
}
.votesCountedHeaderSmall{
	padding-top:2px;
	text-align:left;
	font-family: 'Source Sans Pro', sans-serif; font-style:italic;
}
.votesCountedPercentSmall {
    text-align: right;
    padding-left: 10px;
    width: 40px;
}
#votesCountedTextSmall{
	text-align:right;
    font-size: 12px;
}

/* End Votes counted */
/*** repres **/
/*** duell ***/
.pfeil {
	background-image: url("../images/pfeilWeb.png");
	background-repeat: no-repeat;
	background-position:1px 0px;
	position:absolute;
	width:40px;
	height:320px;
	left:247.5px;
	bottom:-15px;
	-ms-transform-origin:center 300px ;
	-webkit-transform-origin:center 300px ;
	-moz-transform-origin:center 300px ;
	-o-transform-origin: center 300px ;
	transform-origin: center 300px ;
	z-index:1;
	
}
.fsDuell .pfeil,
.fsDuellen .pfeil{
	  background-image: url("../images/fsPfeilWeb.png");
    background-position: 1px 0;
    background-repeat: no-repeat;
    bottom: -6px;
    height: 121px;
    left: 92px;
    position: absolute;
    width: 17px;
    z-index: 1;
	-ms-transform-origin: center 121px ;
	-webkit-transform-origin: center 121px ;
	-moz-transform-origin: center 121px ;
	-o-transform-origin:  center 121px ;
	transform-origin:  center 121px ;

	
}
.fsRedPer, .fsBluePer{
	bottom: 16px;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: bold;
    height: 100px;
    position: absolute;
    z-index: 2;
}
.fsBluePer{
	right: 34px;
    text-align: right;
}
.fsRedPer {
	left: 8px;
}
.duellWrapper{width: 100%;}
.fsDuell .duellWrapper, .fsDuellel .duellWrapper{
	position:absolute;
	height:200px;
}
.duellContainer{
	height:300px;
	width:535px;
	margin:auto;
	position:relative;
}
.fsDuellen .duellContainer{
	height:110px;
	width:225px;
	margin:auto;
	position:absolute;
	left:0;
}
.fsDuell .duellContainer{
	height:110px;
	width:225px;
	margin:auto;
	position:absolute;
	left:0;
	bottom:auto;
}

.forBG {position:absolute;top:2px;bottom:-7px;left:-5px;right:-5px;background-image: url("../images/duellCircleBGWeb.png");background-position:-2.5px 2px;background-repeat:no-repeat;}

.fsDuellen .forBG {position:absolute;top:2px;bottom:-7px;left:-7px;right:-5px;background-image: url("../images/fsDuellBG.png");background-position:-2.5px 2px;background-repeat:no-repeat;}
.fsDuell .forBG {position:absolute;top:2px;bottom:-17px;left:-9px;right:-5px;background-image: url("../images/fsDuellBGPlain.png");background-position:-2.5px 2px;background-repeat:no-repeat;}
.duellInfo {text-align:center; margin-left: 10px;margin-right: 10px;font-weight: lighter;font-size: 9pt;margin-top: 5px;}
.proRotHL, .proBlauHL {letter-spacing: 2px;display:table-cell;font-weight:lighter;font-family: 'Source Sans Pro', sans-serif; font-style:italic;width:100%;}
.proRotHL,.proRot { text-align:left;padding-left:10px;width:100%;}
.proBlauHL,.proBlau { text-align: right;padding-right:10px;}
.proRot,.proRotPartier, .proBlau , .proBlauPartier{display:table-cell; font-size:16pt;}
.proInfo  {width:100%; display:table;padding-top:15px;position:absolute;}
.proInfo  .tableRow {width: 550px;margin:auto;}
.maalingInfo {font-weight:lighter;color:#7D7B7E;font-size: 9pt;padding-bottom: 10px;text-align:center;position: absolute;bottom: 5px;width: 100%;  }
#reloadableComponent table.votesCountedContainer .votesCountedEmpty {width:30%;}
#reloadableComponent table.votesCountedContainer .votesCountedPercent {width:0;}
.biggerParti {font-weight: bold;}
.bigGreyHL {
    color: #7D7B7E;
    font-size: 16pt;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-left: 10px;
    padding-top: 5px;
    text-align: center;
}


.fsDuell .duellWrapperOuter ,.fsDuellen .duellWrapperOuter{
    margin-top: 6px;
	background-image: none;
	height:133px;
}

#duellBlue { }
#duellBlue .pie{
	background-color: #0091CC; /*blue*/
	
}
#duellRed{
	-webkit-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-o-transform:rotate(270deg);
	-ms-transform:rotate(270deg);
	transform:rotate(270deg);

}	
#duellRed .pie{
	background-color: #DD5E74;/* red;*/
	
}
.hold{
	position: absolute;
	width: 530px;
	height: 530px;
	-moz-border-radius: 265px;
	-webkit-border-radius: 265px;
	border-radius: 265px;
	-o-border-radius: 265px;
	clip: rect( 0px, 530px, 530px, 265px);
	bottom: -265px;

}
.fsDuellen .hold,.fsDuell .hold{
	position: absolute;
	width: 200px;
	height: 200px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	-o-border-radius: 100px;
	clip: rect( 0px, 200px, 200px, 100px);
	bottom: -100px;

}
.pie{
	position:absolute;
	width:530px;
	height:530px;
	-moz-border-radius: 265px;
	-webkit-border-radius: 265px;
	border-radius: 265px;
	-o-border-radius: 265px;
	clip: rect( 0px, 265px, 530px, 0px);

}
.fsDuellen .pie, .fsDuell .pie {
	width:200px;
	height:200px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	-o-border-radius: 100px;
	clip: rect( 0px, 100px, 200px, 0px);
}
/*** KART ***/
#kartVotesCountet #majorityContainer {
	color: #7D7B7E;
    font-size: 12px;
    margin-left: 48px;
    margin-top: 10px;
    padding-left: 0;
    width: 66%;
}
#kartHeadLineAlt {
    left: 33px;
    position: absolute;
    /*top: 100px;*/
	bottom:0;
	color: #7D7B7E;
}
#backToNorge{position:absolute;bottom:0;left:0;}
.listItemlangLegend1 {
    font-size: 10pt;
}
#kartMenuWrapper{position:absolute;top: 35px;right:45px;}
#kartMenu .kartMenuLink { background-color: #FF7BAB; width: 125px; color: white; text-align: center; font-weight: lighter;letter-spacing:1.5px;padding:6px 3px 3px;font-size: 9pt;border:1px solid #FFF;}
#kartMenu .kartMenuLink.ui-state-active {background-color: #000;}
.borgerlig {background-image:url('../images/blau4eck.png');background-repeat:no-repeat;margin-top:3px;margin-left:7px;background-position: 0 3px;}
.redGreen{background-image:url('../images/rot4eck.png');background-repeat:no-repeat;margin-left:7px;background-position: 0 3px;}
.listItem {padding-left: 16px;}
.listItemlang{height: 14px;margin-left:3px;margin-top:3px;line-height:10px;}
.listItemSmall{display:inline-block;height:14px;width:17px;margin-right:2px;text-align: center;}
.mal4 .listItemSmall {margin-left:6px;margin-right:6px;}
.mal1 .listItemSmall {margin-left:6px;margin-right:6px;}
.mapItem{display:inline;}
/*.mapItem:hover {transform:scale(1.2);z-index:9;background-image: url("../images/kart/20_100_100.png");background-repeat:no-repeat; background-position: bottom right;}*/
#kartBlokk,
#kartCounty,
#kartParti,
#kartDelta {position: absolute; top:0;left:0;right:0;bottom:0;display:none;}
#kartModulWrapper,#kartModulWrapperCounty  {position: relative; width: 450px;height: 412px; margin:auto;}
.mapItem {position:absolute;}
#kartBlokk{display:block;}
#kartCounty{}
.kartModulBg { background-image: url("../images/kart/mapOverlay_100.png");
    background-position: 9px 29px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
	pointer-events: none;
	
	}
#kartHeadLine,#kartHeadLineCounty {font-size:35px;left: 30px;
    position: absolute;
    top: 20px;
    width: 90%;color: #7D7B7E;letter-spacing: 9px;z-index:2;pointer-events:none;}
/*basic style for maptooltip */
.mapTooltip {position:fixed;z-index:10;width:300px;padding:10px;border: 3px solid #FFF; background-color:rgba(235,235,235,0.8)/*#EBEBEB*/;color:#7D7B7E;pointer-events:none;}
.mapTooltip #majorityContainer{color:#7D7B7E;}
.mapTooltip #regionHeader {font-size: 20pt; font-weight: lighter;}
.mapTooltip #majorityComponentBlue{border-left: 1px solid #7D7B7E;}
.mapTooltip #majorityComponentRed{border-right: 1px solid #7D7B7E;}

.map_301 {z-index: 3;}

.map_02{z-index: 2;}
.map_01Tooltip{visibility:hidden;}
.map_02Tooltip{visibility:hidden;}
.map_301Tooltip{visibility:hidden;}
.map_04Tooltip{visibility:hidden;}
.map_05Tooltip{visibility:hidden;}
.map_06Tooltip{visibility:hidden;}
.map_07Tooltip{visibility:hidden;}
.map_08Tooltip{visibility:hidden;}
.map_09Tooltip{visibility:hidden;}
.map_10Tooltip{visibility:hidden;}
.map_11Tooltip{visibility:hidden;}
.map_12Tooltip{visibility:hidden;}
.map_14Tooltip{visibility:hidden;}
.map_15Tooltip{visibility:hidden;}
.map_16Tooltip{visibility:hidden;}
.map_17Tooltip{visibility:hidden;}
.map_18Tooltip{visibility:hidden;}
.map_19Tooltip{visibility:hidden;}
.map_20Tooltip{visibility:hidden;}

/*** stortinget ***/
.bubblePtr {position:absolute;}
.storHeader {text-align: center; color:#7D7B7E;letter-spacing: 2px;display:table-cell;font-weight:lighter;}
.storParteiImages {position: absolute;bottom:0;width:100%;}
.proRotPartier {float:left;padding-left:25px;}
.proBlauPartier {float:right;padding-right:25px;}
.storBtnMenu,#repBtnMenu{position:absolute;top:40px;right:25px;width: 30px;height:100px;z-index:10;}
#repBtnMenu{top:70px;right:105px;}
.storBtnMenu div,#repBtnMenu div {width:30px;height:30px;display:block;margin-bottom: 2px;cursor:pointer;}
#mandatPartiBtn{background-image:url('../images/button/mandSmallBtn.png');background-size: 30px auto;background-color: transparent;}
#mandatBlockBtn{background-image:url('../images/button/mandSmallBlokkBtn.png');background-size: 30px auto;background-color: transparent;}
#mandatBubbleBtn{background-image:url('../images/button/mandSmallCirclesBtn.png');background-size: 30px auto;background-color: transparent;}
#bubbleWrapper {width: 80%; margin: 40px auto 0; height: 90%;}
/*** representanter ***/
#gallerier {position: absolute;top:0;left:0;bottom: 0;right:0;}
.galleriHL{width:100%;text-align:center;font-size: 35px;letter-spacing: 9px;margin-top: 25px;display:block;color:#7D7B7E;}
#repWrapper {/*width:90%;*/margin:auto;position:relative;overflow:hidden;height:400px;}
#repWrapperBig {width:540px;margin:auto;position:relative;}
.repInnerWrapperBig {width:575px;}
#Parti1,#Parti2,#Parti3,#Parti4,#Parti5,#Parti6,#Parti7,#Parti8,#Parti9{display:inline;width:33px;height: 33px;}
.parti1holder, .repholder {width:30px;height:30px;/*float:left;*/display:inline-block;padding:3px;}
.repholder {background-image: url("../images/rep/small/dummy.jpg");
    background-position: 4px 6px;
    background-repeat: no-repeat;
    background-size: 27px auto;}
.parti1holderBig {width:100px;height:100px;/*float:left;*/display:inline-block;margin: 9px 29px 9px 9px;}
.repholderBig{display: inline-block;
    height: 115px;
    margin-right: 23px;
    margin-top: 15px;
    width: 115px;background-image: url("../images/rep/big/dummy_big.jpg");
    background-position: 15px 15px;
    background-repeat: no-repeat;
    background-size: 91px auto;}
	.repImgBG {
    background-size: 100% auto;
    height: 100px;
    width: 100px;
	margin:8px;
	-webkit-border-radius: 5px;
border-radius: 5px; 
}
.repGroupTT .repImgBG {
    background-size: 100% auto;
    height: 73px;
    width: 73px;
	margin:0px;
	position:relative;
	-webkit-border-radius: 5px;

border-radius: 5px; 
}
#repWrapperBig .repImgBlend { background-image: url("../images/rep/repCover.png");
    background-size: 100% auto;
    bottom: 5px;
    height: 130px;
    left: 0;
    position: absolute;
    width: 130px;
    z-index: 4;
}
#repWrapperBig .activeRep .repImgBlend {background-image: url("../images/rep/repCoverE.png");width:100px; height:100px; bottom:15px;left:7px;	}
/*#repTT {width:100%;display:none;height:0;background-color:lightgrey;position:absolute;left:0;right:0;display:block;overflow:hidden;}*/
.repTT ,.repGroupTT{ background-color: lightgrey;
    background-image: url("../images/closeMe.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    height: 0;
	/*padding-bottom: 15px;
    margin-top: -8px;*/
    overflow: hidden;
    width: 98%;border-bottom:2px solid #FFFFFF;display: none;}
.repTT.TTbig, .repGroupTT.TTbig{
    background-position: 98% 5px;
}
.herrausfordererrightimg {cursor:pointer;}
.newlogoBox {float:left;height:200px;width: 40px;}
.repBox{float:left;width:65%;}
.repBild { 
    position: absolute;
    width: 71px;
}
.lineWrapper {
    display: block;
    margin-left: 80px;
    width: 100%;
}
.bold {font-weight: bold;}
.blockWrapper {
    margin-bottom: 10px;
    margin-top: 50px;
}
.repLeft {
    float: left;
    width: 60px;
	font-weight:bold;
}
.repContent {
    position: relative;
	/* margin-top: 10px;*/
}
.upButton,.downButton {cursor: pointer;  height: 43px; left: 45%;position: absolute;  width: 85px;  z-index: 10;}
.upButton { top:0; }
.downButton {bottom:0;}
.pusher {
    padding-bottom: 90px;
}
.repholder > img { width: 100%;}
.parti1holderBig > img {width:100%;margin-bottom: 7px;}
.parti1holder > img {width:30px;margin-bottom: 3px;}
.isNewImage {margin: 5px;}
.repName {display: inline-block; font-size: 20px;padding-left: 10px;position:absolute;top:-5px;font-weight:bold;}
.herrausforderer {width:25%;float:right; padding-top: 20px;}
.repPartiLogo{display: inline-block;}
.repHeadline{ height: 55px;
    line-height: 22px;
    margin-top: 15px;position:relative;}
.herrausfordererbottom {
    display: block;
	    margin-left: 5px;
    margin-top: 5px;
}

.herrausfordererright {
    display: inline-block;

}

.herrausfordererleft {
    display: inline-block;
    margin-left: 5px;
    width: 55px;
}
.repPartiLogo.partiLogo1 > img {
    width: 30px;
}
.herrausfordererpartyimg {  display: inline-block;width:20px;vertical-align: top; }

.herrausfordererbottomtext {
    display: inline-block;
    line-height: 17px;
    margin-left: 5px;
	width: 110px;
}

.herrausforderertext {
    font-size: 12px;
}

.TTbig .repBox {
    width: 54%;
}
.TTbig  .herrausforderer {

    width: 37%;
}
/***search **/
#searchBox {width: 400px; border: none;padding: 5px;-webkit-appearance:none;border-radius:0px;}

#searchResSted {border-top:1px solid #7F7F7F;margin-left:2.5%;margin-right:2.5%;font-weight:lighter;}
#stedHL {padding-left:10px;text-align:left;font-weight:lighter;padding-top:5px;padding-bottom:5px;}
#searchResults {text-align:left;padding-left:15px;font-weight:lighter;padding:5px; width:400px;margin: auto;height:300px;overflow: hidden;cursor:pointer;}
#searchPanel { width: 100%; margin: 0; padding-top: 20px; text-align:center;}
#search { margin: auto; width: 400px; text-align: center; }
#myScrollWindow{height: 325px; width:425px;overflow: scroll;
    }
/*** history **/
#historyWrapper {height:80%;margin: 2% auto auto;position: relative;width:60%;}
#valgLeftBtn, #valgRightBtn,#storLeftBtn,#storRightBtn{position: absolute; display:block;width:42px;height:85px;top:150px;z-index: 99999;}
#valgLeftBtn,#storLeftBtn{left:0;background-image:url('../images/button/leftBtn.png');background-repeat:no-repeat;}
 #valgRightBtn,#storRightBtn{right:0;background-image:url('../images/button/rightBtn.png');background-repeat:no-repeat;}
#kart		{display:inline;position: absolute;}
#votes		{display:inline;position: absolute;}
#mandates	{display:inline;position: absolute;}
#history	{display:inline;position: absolute;}
#parties	{display:inline;position: absolute;}
#table		{display:inline;position: absolute;}
/*
#kart		{display:inline;position: absolute;top:0;bottom:0;left:0;right:0;}
#votes		{display:inline;position: absolute;top:0;bottom:0;left:100%;right:-100%;}
#mandates	{display:inline;position: absolute;top:0;bottom:0;left:200%;right:-200%;}
#history	{display:inline;position: absolute;top:0;bottom:0;left:300%;right:-300%;}
#parties	{display:inline;position: absolute;top:0;bottom:0;left:400%;right:-400%;}
#table		{display:inline;position: absolute;top:0;bottom:0;left:500%;right:-500%;}
*/
#stortingWrapper {position: absolute; top:0;bottom:0;left:0;right:0;}
#mandatesBlock{display:inline;position: absolute;top:0;bottom:0;left:0;right:0;}
#gallerier{background-color:#FFF;display:inline;position: absolute;top:0;bottom:0;left:100%;right:-100%;}
#partier{background-color:#FFF;display:inline;position: absolute;top:0;bottom:0;left:200%;right:-200%;}
/*#history #regionsHeader{ font-size:25px; letter-spacing:9px; margin-top:35px;text-align :center;color:#7d7b7e;}*/

/*** Partier ***/
.inlineElement {display:inline-block; width:107px; height:107px;}
.parti4Logo , .parti5Logo , .parti7Logo , .parti1Logo ,.parti2Logo , .parti8Logo {padding-left: 25px; padding-right: 25px;}
.parti3Logo , .parti6Logo , .parti9Logo{padding-left: 25px;}
#partiWrapper {width: 500px;margin:auto;overflow:hidden;height:320px;}
#partiInnerWrapper{width: 516px;height:320px;overflow:scroll;padding-bottom:23px;}
.pLogoWrapper > img {
    padding: 4px;
}
.activeParty, .pTT,.hasBackgroundLight,.activeRep {background-color: #CCCCCC;}
.pTT {overflow:hidden;height:1%;display:none;width:96%;padding-bottom:15px;}
.backToFylke {
    bottom: -40%;
    left: -30%;
    position: absolute;
}
/***big screen **/
/*@media only screen and (min-width: 801px){*/
@media only screen and (min-width: 1024px){
/*** top Modul ***/
html{font-size:12pt; /*width: 1024px;*/}
body{ width: 1024px;margin:auto;}
#header {margin:0;padding:0;background-image:url('../images/button/padMenubarBlue.png');background-repeat:no-repeat;height:115px;width:100%;}
.FV #header {background-image:url('../images/button/fvn_pad_bg.png');}
#logo {
    position: absolute;
    right: 20px;
    top: 10px;
}
.FV #logo {
    position: absolute;
    right: 40px;
    top: 20px;
}
#logo > img {
   /* width: 100px;*/
}
.mapTooltip{pointer-events:auto; opacity: 1;background-color: #EBEBEB;}
#topmenu {left: 320px;height: 94px;top: 20px;}
#topmenuButtonDuellen,
#topmenuButtonValg,
#topmenuButtonStorting,
#topmenuButtonPolls,
#topmenuButtonRep,
#topmenuButtonFav,
#topmenuButtonSok,
#topmenuButtonHome{height:94px;width:67px;cursor: pointer;margin-top:17px;}

#topmenuButtonDuellen.activeMMBtn > div,
#topmenuButtonValg.activeMMBtn > div,
#topmenuButtonStorting.activeMMBtn > div,
#topmenuButtonPolls.activeMMBtn > div,
#topmenuButtonRep.activeMMBtn > div,
#topmenuButtonFav.activeMMBtn > div,
#topmenuButtonSok.activeMMBtn > div,
#topmenuButtonHome.activeMMBtn > div{background: rgba(225, 225, 225, .5);border-radius: 5px 5px 0 0;border-bottom: 3px solid #19ACC8;}
.FV #topmenuButtonDuellen.activeMMBtn > div,
.FV #topmenuButtonValg.activeMMBtn > div,
.FV #topmenuButtonStorting.activeMMBtn > div,
.FV #topmenuButtonPolls.activeMMBtn > div,
.FV #topmenuButtonRep.activeMMBtn > div,
.FV #topmenuButtonFav.activeMMBtn > div,
.FV #topmenuButtonSok.activeMMBtn > div,
.FV #topmenuButtonHome.activeMMBtn > div{ border-bottom: 3px solid #00659C;}


.mMBtn > div {width:100%;height:92px;}
#topmenuButtonDuellen  > div,
#topmenuButtonValg  > div,
#topmenuButtonStorting  > div,
#topmenuButtonPolls  > div,
#topmenuButtonRep  > div,
#topmenuButtonFav  > div,
#topmenuButtonSok  > div,
#topmenuButtonHome  > div{position: relative;border-bottom: 3px solid #fff;}

.btnText {
    bottom:7px;
    position: absolute;
    width: 100%;
	font-size:10px;
}
.mMBtn.disabled {
    background-image: url("../images/button/resultatOffBtn.png");
    background-position: 8px 14px;
    background-repeat: no-repeat;
    border-radius: 5px 5px 5px 5px;
	background-color:transparent;
	opacity: 1;
}
.mMBtn.disabled .btnText {color: #939292}
#repWrapper{width:660px;}
.repInnerWrapper {width: 676px;}
/*.repInnerWrapperBig {width:435px;}*/
/*.pusher {height:1%;overflow:hidden;}*/
#repWrapper, #repWrapperBig {height:500px;overflow:hidden;}
.repInnerWrapper, .repInnerWrapperBig {height:500px;padding-bottom:20px;overflow:scroll;}
#mainCircle {top: 115px; height:593px;}
#tableWrapper {width: 650px;margin:auto;overflow:hidden;height:310px;cursor: n-resize;}
#tableInnerWrapper{width: 666px;height:310px;overflow:scroll;padding-bottom:16px;}
/***duell***/
.duellWrapperOuter {background-image:url('../images/duellLeaderBGWeb_.png');background-repeat:no-repeat;background-position: left bottom; position:absolute;top:0;height:485px;left:0;right:0;}
.bigGreyHL {font-size:35px;  letter-spacing: 9px;padding-top:5px;}
.duellContainer {position:absolute;bottom:0;left:250px;}	
.duellInfo{margin-top: 0px;font-size:11pt;}
.proInfo {width:800px;/*position:relative;*/left:112px;}
.leftRow,.rightRow{position:absolute;width:100% !important;}
.leftRow{left:0;text-align:left;}
.rightRow{left:0;text-align:left;}
.proRot {position:absolute;left:150px;font-size:26pt;top: -14px;}
.proBlau{position:absolute;right:0px;font-size:26pt;top: -14px;}
.proRotHL {position:absolute;left:0px;font-size:14pt;}
.proBlauHL{position:absolute;right:50px;font-size:14pt;}
.proBlauHL.notValg{position:absolute;right:115px;font-size:14pt;}
#reloadableComponent table.votesCountedContainer{top:120px;width:140px;left:455px;}
#reloadableComponent table.votesCountedContainerSmall{width:220px;padding-top:105px;}
.duellWrapperOuter .maalingInfo {text-align:center;bottom:70%;}

#kartModulWrapper,#kartModulWrapperCounty {margin-top:100px;}
#LANDSOVERSIKTENAltSVG {
    margin-left: 50px;

}
#kartModulWrapperAlt {
    display: none;
    height: 600px;
}
#kartHeadLineAlt {
    color: #7D7B7E;
    left: 33px;
    position: absolute;
    top: 505px;
}
#ØSTFOLDSVG{margin-top:50px;}
#AKERSHUSSVG{margin-top:20px;}
#HEDMARKSVG{margin-top:20px;}
#OPPLANDSVG{margin-top:20px;}
#BUSKERUDSVG{}
#VESTFOLDSVG{}
#TELEMARKSVG{}
#AUST-AGDERSVG{}
#VEST-AGDERSVG{}
#ROGALANDSVG{}
#HORDALANDSVG{}
#SOGNOGFJORDANESVG{}
#MØREOGROMSDALSVG{}
#SØR-TRØNDELAGSVG{}
#NORD-TRØNDELAGSVG{}
#NORDLANDSVG{}
#TROMSSVG{}
#FINNMARKSVG{}
.backToFylke {
    bottom: -25%;
    left: -50%;
    position: absolute;
}

#backToNorge {
    bottom: -560px;
    left: 5%;
    position: absolute;
}
/***TEMPORARY POSITIONING ***/
.map_01{bottom:18px;left:90px;}
.map_02{bottom:39px;left:88px;}
.map_301{bottom:47px;left:90px;}
.map_04{bottom: 49px; left: 82.5px;}
.map_05{bottom: 58px; left: 49px;}
.map_06{bottom:38px;left:45px;}
.map_07{bottom:25px;left:77px;}
.map_08{bottom:19px;left:38px;}
.map_09{bottom:0.5px;left:33px;}
.map_10{bottom:-3px;left:23px;}
.map_11{bottom:8px;left:2px;}
.map_12{bottom:46.5px;left:5.5px;}
.map_14{bottom: 79px; left: 6px;}
.map_15{left: 23px; top: 244px}
.map_16{top:217px;right:207px;}
.map_17{top:193px;right:177px;}
.map_18{top:69px;right:133px;}
.map_19{right:84px;top:37px;}
.map_20{top:0;right:0;}
/***stortinget ***/
.rotate {width: 470px;margin:-25px auto auto;}

#favHolderButton {
   bottom: 85px;
right: 85px;

}
.maalingInfo {
    bottom: 25px;}
.mirror {
	margin-top:155px;
/*-moz-transform: scaleX(-1) /*scale(1.2);
-o-transform: scaleX(-1) /*scale(1.2); 
-webkit-transform: scaleX(-1) /*scale(1.2);  
-ms-transform::scaleX(-1) /*scale(1.2);
transform:scaleX(-1) /*scale(1.2);
margin-top:105px;*/}
.storHeader {font-size: 35px;width:1024px;letter-spacing: 9px;margin-top: 35px;display:block;}
#mandaterParti .mandatesMajority {left:383px;top:90px;}
#centerLineMandates {top:85px; left:/*514px*/506px; color:#7D7B7E;position:absolute;z-index: 5;}
.mandatesDescription{top:105px;color:#7D7B7E;letter-spacing: 6px}
#bubbleWrapper{height: 80%; margin: 150px auto 0;width: 55%;}
#valgLeftBtn, #valgRightBtn, #storLeftBtn, #storRightBtn { top: 220px;}
#mandates .votesCountedContainerSmall {
    margin-top: 180px;
}
#mandates,
#votes,
#history,
#table,
#parties{
height: 650px;
}
#votesHeader {width:800px;left:-150px;font-size:35px;top:0px;}

#votes #regionsHeader,#reloadableComponent #regionsHeader {
  
    position: absolute;

    top: 80px;

}
.pollPanelLabel {
    bottom: 75px;
}

#manHeader { font-size: 35px; margin-top: 35px; }
.latestPollSelect{/*op:45px;*/left:34%;bottom:140px;}
#pollSelect_mandates {
    left: 35%;
bottom:140px;
}
#historyWrapper {
    height: 60%;

}
#table #regionsHeader {font-size: 35px; margin-top: 35px; color:#7D7B7E;letter-spacing: 9px;}
#parties .storHeader {margin-top:35px;margin-bottom:20px;display:block;}
#partiInnerWrapper{height:350px;}
#partiWrapper{height:350px;}
table#votesContainer {bottom:280px;}
#reloadableComponent table#votesContainer {
    bottom: 240px;
}
#mandates .contentHeadline {  font-size: 35px;  margin-top: 35px; }
#manHeader { font-size: 35px; margin-top: 35px; }

#parties .storHeader {margin-top:35px;display:block;}
.Pointer1{left: 270px;
    top: 168px;}
.Pointer2{left: 450px;
    top: 209px;}
.Pointer3{left: 200px;
    top: 310px;}
.Pointer4{bottom: 120px;
    left: 260px;}
.Pointer5{bottom: 190px;
    left: 450px;}
.Pointer6{ right: 420px;
    top: 166px;}
.Pointer7{bottom: 280px;
    right: 250px;}
.Pointer8{bottom: 120px;
    right: 250px;}
.Pointer9{bottom: 110px;
    right: 423px;}
	

#manWrapper {
    border-bottom: 1px solid lightgray;
    height: 100%;
    margin-top: 90px;
    position: relative;
    width: 100%;
}	
#reloadableComponent .latestPollSelect {
    bottom: 80px;
}
#tableInnerWrapper .downButton {bottom: 250px;}
#tableInnerWrapper .upButton {top: 89px;}
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-width: 801px) {
	 #mandaterParti .mandatesMajority {
		/*top:-387px;*/
	}
}
/*** small window***/
/*@media screen and (min-width: 681px) and (max-width: 800px){ */
@media screen and (min-width: 800px) and (max-width: 1023px){ 
/*** top Modul ***/
html{font-size:11pt;}
body {width:800px;height:600px;overflow:hidden;margin:auto;}

#main{height:600px;width:800px;padding-bottom:20px;/*overflow:scroll;*/}
#bubbleWrapper {
	margin-top: 100px;
    width: 70%;}
#logo > img {
    max-height: 70px;
    max-width: 116px;
}
.VG #logo{ top:-8px;}
.FV #logo {right:0;  top: 20px;}
.FV  #logo > img {
    max-height: 70px;
    max-width: 130px;
}
#header {margin:0;padding:0;background-image:url('../images/button/webMenubarBlue.png');background-repeat:no-repeat;height:115px;width:800px;}
.FV #header {background-image:url('../images/button/fvn_web_bg.png');}
#wrapperUnderMenu {width:800px;}
#topmenu {left: 210px;height: 94px;top: 20px;border-radius: 5px 5px 0 0;}
#topmenuButtonDuellen,
#topmenuButtonValg,
#topmenuButtonStorting,
#topmenuButtonPolls,
#topmenuButtonRep,
#topmenuButtonFav,
#topmenuButtonSok,
#topmenuButtonHome{height:94px;width:67px;cursor: pointer;margin-top:17px;}
#topmenuButtonDuellen.activeMMBtn > div,
#topmenuButtonValg.activeMMBtn  > div,
#topmenuButtonStorting.activeMMBtn > div,
#topmenuButtonPolls.activeMMBtn > div,
#topmenuButtonRep.activeMMBtn > div,
#topmenuButtonFav.activeMMBtn > div,
#topmenuButtonSok.activeMMBtn > div,
#topmenuButtonHome.activeMMBtn > div{background: rgba(225, 225, 225, .5);border-radius: 5px 5px 0 0;border-bottom: 2px solid #19ACC8;}

.FV #topmenuButtonDuellen.activeMMBtn > div,
.FV #topmenuButtonValg.activeMMBtn  > div,
.FV #topmenuButtonStorting.activeMMBtn > div,
.FV #topmenuButtonPolls.activeMMBtn > div,
.FV #topmenuButtonRep.activeMMBtn > div,
.FV #topmenuButtonFav.activeMMBtn > div,
.FV #topmenuButtonSok.activeMMBtn > div,
.FV #topmenuButtonHome.activeMMBtn > div{  border-bottom: 2px solid #00659C;}


.mMBtn > div {width:100%;height:93px;}
#topmenuButtonDuellen  > div,
#topmenuButtonValg  > div,
#topmenuButtonStorting  > div,
#topmenuButtonPolls  > div,
#topmenuButtonRep  > div,
#topmenuButtonFav  > div,
#topmenuButtonSok  > div,
#topmenuButtonHome  > div{position: relative;border-bottom: 2px solid #fff;}
.btnText {
    bottom:7px;
	font-size:10px;
    position: absolute;
    width: 100%;
}
.mMBtn.disabled {
    background-image: url("../images/button/resultatOffBtn.png");
    background-position: 5px 15px;
    background-repeat: no-repeat;
    border-radius: 5px 5px 5px 5px;
	background-color:transparent;
	opacity: 1;
}
.mMBtn.disabled .btnText {color: #939292}
#mainCircle {top: 115px;height:485px;width:800px;}
/***duell***/

.duellWrapperOuter {background-image:url('../images/duellLeaderBG_.png');background-repeat:no-repeat;background-position: left bottom; position:absolute;top:0;bottom:0px;left:0;right:0;}
.duellInfo{margin-top: 0;font-size:11pt;}
.bigGreyHL {font-size:35px;  letter-spacing: 9px;padding-top:5px;}
.duellContainer {margin: 95px auto 0;}	
.proInfo {width:100%;}
.leftRow,.rightRow{position:absolute;width:100% !important;}
.leftRow{left:0;text-align:left;}
.rightRow{left:0;text-align:left;}
.proRot {position:absolute;left:150px;font-size:26pt;top: -15px;}
.proRot.notValg{
    font-size: 26pt;
    left: 135px;
    position: absolute;
    top: -15px;
}
.proBlau{position:absolute;right:0px;font-size:26pt;top: -15px;}

.proBlauHL.notValg {
    font-size: 14pt;
    position: absolute;
    right: 100px;
}
.proRotHL {position:absolute;left:0px;font-size:14pt;}
.proBlauHL{position:absolute;right:50px;font-size:14pt;}

/*#reloadableComponent table.votesCountedContainer{top:120px;width:140px;left:330px;}*/
#reloadableComponent table.votesCountedContainer {
    bottom: 30px;
    left: 330px;
    width: 140px;
}
.duellWrapperOuter .maalingInfo {position:absolute;top:93px;width:250px;text-align:center;left:275px;}
	/** fav ***/
.favStar {}
.favClose {}
.favText {}
.favouriteContainer{ }
.favouriteCell {}
#LANDSOVERSIKTENAltSVG {
    margin-left: 50px;

}
#kartModulWrapperAlt {
    display: none;
    height: 500px;
}
#kartModulWrapper,#kartModulWrapperCounty  {margin-top:20px;}
#ØSTFOLDSVG{margin-top:50px;}
#AKERSHUSSVG{margin-top:20px;}
#HEDMARKSVG{margin-top:20px;}
#OPPLANDSVG{margin-top:20px;}
#BUSKERUDSVG{}
#VESTFOLDSVG{}
#TELEMARKSVG{}
#AUST-AGDERSVG{}
#VEST-AGDERSVG{}
#ROGALANDSVG{}
#HORDALANDSVG{}
#SOGNOGFJORDANESVG{margin-top: 50px; margin-left: -20px;}
#MØREOGROMSDALSVG{margin-left: -20px; margin-top: 50px;}
#SØR-TRØNDELAGSVG{margin-top: 35px;}
#NORD-TRØNDELAGSVG{margin-top: 50px;}
#NORDLANDSVG{}
#TROMSSVG{margin-left: -30px;  margin-top: 50px;}
#FINNMARKSVG{}
/***TEMPORARY POSITIONING ***/
.map_01{bottom:18px;left:90px;}
.map_02{bottom:39px;left:88px;}
.map_301{bottom:47px;left:90px;}
.map_04{bottom: 49px; left: 82.5px;}
.map_05{bottom: 58px; left: 49px;}
.map_06{bottom:38px;left:45px;}
.map_07{bottom:25px;left:77px;}
.map_08{bottom:19px;left:38px;}
.map_09{bottom:0.5px;left:33px;}
.map_10{bottom:-3px;left:23px;}
.map_11{bottom:8px;left:2px;}
.map_12{bottom:46.5px;left:5.5px;}
.map_14{bottom: 79px; left: 6px;}
.map_15{left: 23px; top: 244px}
.map_16{top:217px;right:207px;}
.map_17{top:193px;right:177px;}
.map_18{top:69px;right:133px;}
.map_19{right:84px;top:37px;}
.map_20{top:0;right:0;}
/***stortinget ***/
.rotate {width: 470px;margin:auto;}
.mirror {
	-moz-transform: /*scaleX(-1)*/ scale(0.85);
	-o-transform: /*scaleX(-1)*/ scale(0.85); 
	-webkit-transform: /*scaleX(-1)*/ scale(0.85);
	-ms-transform:/*scaleX(-1)*/ scale(0.85);
	transform:/*scaleX(-1)*/ scale(0.85);
	margin-top:105px;}
.storHeader {font-size: 35px;width:800px;letter-spacing: 9px;padding-top: 15px;}
#reloadableComponent .mandatesheadline {   display: block;
    margin-top: 30px;
    padding-bottom: 10px;}
#history .storHeader {
font-size: 30px;
}
#mandaterParti .mandatesMajority {/*left:300px; top:75px;*/left:272px;top:75px;}
#centerLineMandates {top:75px; left:/*402*/395px; color:#7D7B7E;position:absolute;z-index: 5;}
.mandatesDescription{top:55px;color:#7D7B7E;letter-spacing: 6px;}
.mandatesDescription.line2{top:90px;}

#valgLeftBtn, #valgRightBtn, #storLeftBtn, #storRightBtn { top: 190px;}
#votesHeader {width:800px;left:-150px;font-size:35px;margin-top: 25px;}
#mandates .contentHeadline {  font-size: 35px;  margin-top: 25px; padding-top:0px;}
#manHeader { font-size: 35px; margin-top: 25px; }
.latestPollSelect{left:30%;bottom: 60px;}
#pollSelect_votes {left: 33%;
	 height:20px;
	line-height:20px;
	background:none;
	font-size:12px;
	border:0;
	margin:0;
    position:absolute;

	-webkit-appearance: menulist-button;}
#pollSelect_mandates {height:20px;
	line-height:20px;
	background:none;
	font-size:12px;
	/*border:0;*/
	margin:0;
    position:absolute;

	-webkit-appearance: menulist-button;
}
.pollPanelLabel {
    bottom: 0;

}
#table #regionsHeader {font-size: 35px; margin-top: 25px; color:#7D7B7E;letter-spacing: 9px;}
#parties .storHeader {margin-top:25px;margin-bottom:20px;display:block;padding-top: 0;}
#partiInnerWrapper{height:350px;}
#partiWrapper{height:350px;}
#tableWrapper {width: 650px;margin:auto;overflow:hidden;height:310px;cursor: n-resize;}
#tableInnerWrapper{width: 666px;height:310px;overflow:scroll;padding-bottom:16px;}
#mandates,
#votes,
#history,
#table,
#parties,#kart{
height: 485px;width:800px;
}
#columnsContainer {margin: 80px auto 0;}
.votesCountedContainerSmall{padding-top:20px;}
#reloadableComponent table.votesCountedContainerSmall{padding-top:80px;}
#repWrapper{width:660px;}
.repInnerWrapper {width:676px;}
/*.repInnerWrapperBig {width:435px;}*/
/*.pusher {height:1%;overflow:hidden;}*/
#repWrapper, #repWrapperBig {height:410px;overflow:hidden;}
.repInnerWrapper, .repInnerWrapperBig {height:410px;padding-bottom:20px;overflow:scroll;}

#repBtnMenu {
    right: 25px;
    top: 70px;
}
table#votesContainer {bottom:150px;}
.Pointer1{left: 157px;
    top: 124px;}
.Pointer2{left: 340px;
    top: 159px;}
.Pointer3{left: 85px; top: 260px;}
.Pointer4{bottom: 60px; left: 150px;}
.Pointer5{bottom: 140px; left: 350px;}
.Pointer6{ right: 300px; top: 115px;}
.Pointer7{bottom: 210px;  right: 140px;}

.Pointer8 {
    bottom: 80px;
    right: 120px;
}
.Pointer9{bottom: 60px; right: 310px;}

#manWrapper {
    border-bottom: 1px solid lightgray;
    height: 100%;
    margin-top: 20px;
    position: relative;
    width: 100%;
}

#mandates .votesCountedContainerSmall {
    margin-top: 98px;
}
#tableInnerWrapper .downButton {bottom: 96px;}
#tableInnerWrapper .upButton {top: 79px;}
}
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-width: 681px) and (max-width: 800px) {
	 #mandaterParti .mandatesMajority {
		/*top:-250px;*/
	}
	
.duellContainer {
    margin: 100px auto 0;
}
}

/***ultra small ***/

/*@media screen and (max-width:680px){*/
@media screen and (max-width:799px){
/*** top Modul ***/
html{font-size:10pt;}
body {background-image:url('../images/bordermini.png');background-repeat:x-repeat; width:680px;height:450px;overflow:hidden;margin:auto;}

#main{height:450px;width:680px;padding-bottom:20px;/*overflow:scroll;*/}
#header {margin:0;padding:0;background-image:url('../images/button/miniMenuBarBlue.png');background-repeat:no-repeat;height:61px;width: 680px;}
.FV #header {background-image:url('../images/button/fvn_webmini_bg.png');}
#wrapperUnderMenu{width: 680px;}
#logo {
    left: 15px;
    position: absolute;
    top: 46px;
}
.BT #logo , .VG #logo{ top:48px;}
#logo > img {
    height: 20px; width: auto;
}
#tableInnerWrapper .downButton {bottom: 76px;}
#tableInnerWrapper .upButton {top: 60px;}
#topmenu {left: 181px;top:11px;width:499px;height:50px;}
#topmenuButtonDuellen,
#topmenuButtonValg,
#topmenuButtonStorting,
#topmenuButtonPolls,
#topmenuButtonRep,
#topmenuButtonFav,
#topmenuButtonHome,
#topmenuButtonSok{ height:50px;font-weight: bold;font-size: 8pt; width:72px;cursor: pointer;	}
#topmenuButtonSok{width: 70px;}
#topmenuButtonDuellen.activeMMBtn ,
#topmenuButtonValg.activeMMBtn,
#topmenuButtonStorting.activeMMBtn,
#topmenuButtonPolls.activeMMBtn ,
#topmenuButtonRep.activeMMBtn,
#topmenuButtonFav.activeMMBtn ,
#topmenuButtonSok.activeMMBtn,
#topmenuButtonHome.activeMMBtn{background-image:url('../images/button/activeMMBtn2.png');background-repeat:no-repeat;background-position: center 2px;}

.FV #topmenuButtonDuellen.activeMMBtn ,
.FV #topmenuButtonValg.activeMMBtn,
.FV #topmenuButtonStorting.activeMMBtn,
.FV #topmenuButtonPolls.activeMMBtn ,
.FV #topmenuButtonRep.activeMMBtn,
.FV #topmenuButtonFav.activeMMBtn ,
.FV #topmenuButtonSok.activeMMBtn,
.FV #topmenuButtonHome.activeMMBtn{background-image:url('../images/button/activeMMBtnFN.png');background-repeat:no-repeat;background-position: center 2px;}

#topmenuButtonDuellen.activeMMBtn  > div,
#topmenuButtonValg.activeMMBtn > div,
#topmenuButtonStorting.activeMMBtn > div,
#topmenuButtonPolls.activeMMBtn > div,
#topmenuButtonRep.activeMMBtn > div,
#topmenuButtonFav.activeMMBtn > div,
#topmenuButtonSok.activeMMBtn > div,
#topmenuButtonHome.activeMMBtn > div{ border-top: 5px solid #19ACC8;margin-left:12px;margin-right:12px;margin-top:2px;height:16px;}
.FV #topmenuButtonDuellen.activeMMBtn  > div,
.FV #topmenuButtonValg.activeMMBtn > div,
.FV #topmenuButtonStorting.activeMMBtn > div,
.FV #topmenuButtonPolls.activeMMBtn > div,
.FV #topmenuButtonRep.activeMMBtn > div,
.FV #topmenuButtonFav.activeMMBtn > div,
.FV #topmenuButtonSok.activeMMBtn > div,
.FV #topmenuButtonHome.activeMMBtn > div {border-top: 5px solid #00659C;}
#topmenuButtonDuellen > div,
#topmenuButtonValg  > div,
#topmenuButtonStorting  > div,
#topmenuButtonPolls  > div,
#topmenuButtonRep  > div,
#topmenuButtonFav  > div,
#topmenuButtonSok  > div,
#topmenuButtonHome  > div{ border-top: 5px solid transparent;margin-left:12px;margin-right:12px;margin-top:2px;height:16px;}
.btnText {color:rgba(255,255,255,0.5);}
.activeMMBtn .btnText {color:rgba(255,255,255,1);}
.mMBtn.disabled {
    background-image: url("../images/button/resultatOffBtnMini.png");
    background-position: 24px 4px;
    background-repeat: no-repeat;
    border-radius: 5px 5px 5px 5px;
	background-color:transparent;
	opacity: 1;
}
.mMBtn.disabled .btnText {color: #939292}
#mainCircle {top: 61px;height: 389px;width: 680px;}
/**duell**/
.bigGreyHL {display:none;}
.duellContainer {margin: 32px auto 0;}
.duellInfo{font-size:10pt; font-weight:bold;}
table.votesCountedContainerSmall .votesCountedEmpty {}
#table .votesCountedContainerSmall {
    margin-top: -11px;
}
#reloadableComponent table.votesCountedContainerSmall{left: 240px;
    position: absolute;
    top: 15px;
    width: 210px;}
#reloadableComponent table.votesCountedContainer {
    bottom: 0px;
    left: 270px;
    width: 140px;
}
.duellWrapperOuter .maalingInfo {position:absolute;top:23px;width:250px;text-align:center;left:210px;padding-top: 15px;}
	/** fav ***/
.favStar {}
.favClose {}
.favText {}
.favouriteContainer{ }
.favouriteCell {}
#LANDSOVERSIKTSVG {  margin-top: 20px; }
#kartModulWrapper,#kartModulWrapperCounty  {position: relative; width: 450px;height: 345px; margin:15px auto 0;}
#ØSTFOLDSVG{margin-top:20px;}
#AKERSHUSSVG{margin-top:20px;}
#HEDMARKSVG{margin-top:20px;}
#OPPLANDSVG{margin-top:20px;margin-left: 15px;}
#BUSKERUDSVG{ margin-top: 32px;}
#VESTFOLDSVG{margin-left: 15px;}
#TELEMARKSVG{ margin-left: 15px; margin-top: 30px;}
#AUST-AGDERSVG{ margin-left: 30px;  margin-top: 33px;}
#VEST-AGDERSVG{}
#ROGALANDSVG{}
#HORDALANDSVG{}
#SOGNOGFJORDANESVG{margin-left: -50px; margin-top: 20px;}
#MØREOGROMSDALSVG{margin-left: -40px;  margin-top: 10px;}
#SØR-TRØNDELAGSVG{margin-top: 35px;}
#NORD-TRØNDELAGSVG{
/*-webkit-transform: scale(0.9);*/
-ms-transform: scale(0.9);
    transform: scale(0.9);margin-top: 35px;
	-webkit-transform-origin-x: 30%;
-webkit-transform-origin-y: 150%;}
#NORDLANDSVG{}
#TROMSSVG{margin-left: -50px;}
#FINNMARKSVG{}
#TRONDHEIMSVG{margin-left: -50px;}
#kartHeadLine, #kartHeadLineCounty { font-size: 25px;}
#kartHeadLineCounty { top: 5px; }
/*** kart ***/
#kartHeadLineAlt {
    left: 33px;
    position: absolute;
	color: #7D7B7E;
}
#kartBlokk,#kartCounty{display:block;}
.kartModulBg { background-image: url("../images/kart/mapOverlay_80.png");
   background-position: 5px 25px;
   background-repeat:no-repeat;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
	pointer-events: none;
	/*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/kart/mapOverlay_80.png', sizingMethod='scale');*/
	
	}
#kartVotesCountet {  top: 65px; }
#LANDSOVERSIKTENAltSVG {
    margin-left: 50px;

}
#kartModulWrapperAlt {
    display: none;
    height: 460px;
}
/***TEMPORARY POSITIONING ***/
.map_01{bottom:8px;left:71px;}
.map_02{bottom:27px;left:69px;}
.map_301{bottom:30px;left:70px;}
.map_04{bottom:36px;left:66px;}
.map_05{bottom:43px;left:39px;}
.map_06{bottom:28px;left:35px;}
.map_07{left:61px;bottom:15px;}
.map_08{bottom:11px;left:29px;}
.map_09{bottom:-3px;left:24px;}
.map_10{bottom:-6px;left:16px;}
.map_11{bottom:4px;}
.map_12{bottom:35px;left:4px;}
.map_14{bottom:61px;left:4px;}
.map_15{bottom:94px;left:18px;}
.map_16{bottom:99px;left:54px;}
.map_17{top:154px;left:75px;}
.map_18{top:55px;right:108px;}
.map_19{right:68px;top:29px;}
.map_20{top:0;right:0;}
/***stortinget ***/
.rotate {width: 470px;margin:auto;}
.mirror {
-moz-transform: /*scaleX(-1)*/ scale(0.65);
	-o-transform:/* scaleX(-1)*/ scale(0.65); 
	-webkit-transform: /*scaleX(-1)*/ scale(0.65);
	-ms-transform:/* scaleX(-1)*/ scale(0.65);
	transform:/*scaleX(-1)*/ scale(0.65);margin-top:90px;}
.storHeader {font-size: 25px;width:680px;letter-spacing: 9px;margin-top:10px; display:block;}
#reloadableComponent .mandatesheadline {  margin-top: 35px;
    padding-bottom: 10px;}
#mandaterParti .mandatesMajority {left:210px;}
#centerLineMandates {top:55px; left:/*343*/334px; color:#7D7B7E;position:absolute;z-index: 5;}
.mandatesDescription{top:70px;color:#7D7B7E;letter-spacing: 2px}
.mandatesDescription.line2{top:90px;}
/*** votes ***/
#columnsContainer { margin: 70px auto 0;}
.votesCountedContainerSmall{padding-top:6px;}
#mandates .votesCountedContainerSmall {
   padding-top:20px;
}
.latestPollSelect{bottom:30px;left:30%;}
#pollSelect_mandates {
    font-size: 11px;
    height: 16px;
    left: 30%;
    line-height: 16px;
	bottom:20px;
	/*-webkit-appearance : menulist-button;*/
}

#pollSelect_votes {
	font-size: 11px;
    height: 16px;
	line-height: 16px;
	bottom:20px;
	 /*-webkit-appearance:menulist-button;*/
}
#votesHeader {left:-100px;width:680px;}
#valgLeftBtn, #valgRightBtn, #storLeftBtn, #storRightBtn { top: 120px;}

#mandates,
#votes,
#history,
#table,
#parties,
#kart{ height: 375px;width:680px;}
.galleriHL{margin-top:5px;font-size:25px;}
#partiWrapper {width: 500px;margin:auto;overflow:hidden;height:320px;}
#partiInnerWrapper{width: 516px;height:320px;overflow:scroll;padding-bottom:16px;}
#tableWrapper {width: 544px;margin:auto;overflow:hidden;height:240px;cursor: n-resize;}
#tableInnerWrapper{width: 560px;height:240px;overflow:scroll;padding-bottom:16px;}
#repWrapper {width:550px;}
.repInnerWrapper {width: 566px;}
/*.repInnerWrapperBig {width:435px;}*/
/*.pusher {height:1%;overflow:hidden;}*/
#repWrapper, #repWrapperBig {height:400px;overflow:hidden;}
.repInnerWrapper, .repInnerWrapperBig {height:400px;padding-bottom:20px;overflow:scroll;margin-bottom:-15px;}
#repBtnMenu {
    right: 15px;
    top: 59px;
}
.repBox {
    width: 55%;
}
.downButton {bottom:45px;}
.herrausforderer {
    width: 32%;
}
#historyWrapper {
    width: 70%;
}
.Pointer1{left: 103px; top: 60px;}
.Pointer2{left: 290px; top: 99px;}
.Pointer3{left: 45px; top: 210px;}
.Pointer4{bottom: 20px;  left: 100px;}
.Pointer5{bottom: 100px; left: 300px;}
.Pointer6{right: 240px; top: 55px;}
.Pointer7{bottom: 175px; right: 80px;}
.Pointer8{bottom: 50px; right: 50px;}
.Pointer9{bottom: 20px; right: 245px;}

#manWrapper {
    border-bottom: 1px solid lightgray;
    height: 100%;
    margin-top: -25px;
    position: relative;
    width: 100%;
}
.backToFylke {
    bottom: -40%;
    left: -30%;
    position: absolute;
}

#kartVotesCountet #majorityContainer {
    margin-left: 48px;
    margin-top: -20px;
}
}
@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width:680px) {
	 #mandaterParti .mandatesMajority {
		/*top:-185px;*/
	}
	.mMBtn.disabled {
    background-position: 26px 4px;
}
}

/* iPad portrait */
@media only screen and (orientation:portrait){		
	#divCloseButton{}
	#circleCurrent{/*left:130px;top:400px;*/}
	

	/**DUELL**/
	/*.bigGreyHL {font-size:35px;  letter-spacing: 9px;padding-top:25px;}
	//.duellContainer {position:absolute;bottom:0;left:130px;margin:0;}*/
	.duellWrapperOuter {/*background-repeat:no-repeat;background-position: left bottom; position:absolute;top:0;bottom:75px;left:0;right:0;*/}
	/*.duellInfo{margin-top: 10px;font-size:11pt;}
	.proInfo{padding-top:55px;}
	.proBlauHL{position:absolute;right:115px;}
.proRot {position:absolute;left:150px;font-size:26pt;top: -14px;}
.proBlau{position:absolute;right:0px;font-size:26pt;top: -14px;}
	#reloadableComponent table.votesCountedContainer{top:250px;width:250px;left:260px;}
	.duellWrapperOuter .maalingInfo {top:200px;}*/
	/** fav ***/
.favStar {}
.favClose {}
.favText {}
.favouriteContainer{ }
.favouriteCell {}
#partiWrapper {width: 500px;margin:auto;overflow:hidden;height:320px;}
#partiInnerWrapper{width: 516px;height:320px;overflow:scroll;padding-bottom:16px;}
#repWrapper {width:610px;}
.repInnerWrapper {width: 625px;}
/*.repInnerWrapperBig {width:435px;}*/
/*.pusher {height:1%;overflow:hidden;}*/
#repWrapper, #repWrapperBig {height:400px;overflow:hidden;}
.repInnerWrapper, .repInnerWrapperBig {height:400px;padding-bottom:20px;overflow:scroll;}
#ØSTFOLDSVG{margin-top:50px;}
#AKERSHUSSVG{margin-top:20px;}
#HEDMARKSVG{margin-top:20px;}
#OPPLANDSVG{margin-top:20px;}
#BUSKERUDSVG{}
#VESTFOLDSVG{}
#TELEMARKSVG{}
#AUST-AGDERSVG{}
#VEST-AGDERSVG{}
#ROGALANDSVG{}
#HORDALANDSVG{}
#SOGNOGFJORDANESVG{}
#MØREOGROMSDALSVG{}
#SØR-TRØNDELAGSVG{}
#NORD-TRØNDELAGSVG{}
#NORDLANDSVG{}
#TROMSSVG{}
#FINNMARKSVG{}
.duellContainer {
    bottom: 0;
    left: 90px;
    margin: 0;
    position: absolute;
}
}	
.scroll-content {position:absolute;top:0;left:0;padding-right:20px}
.scroll-pane{position:relative;}
.slider-wrap{position:absolute;right:0;top:0;background-color:lightgrey;width:20px;}
.slider-vertical{position:relative;height:100%}
.ui-slider-handle{background-color:darkgray;width:20px;height:10px;margin:0 auto;display:block;position:absolute;}
.ui-slider-handle img{border:none}
.scrollbar-top{position:absolute;top:0;}
.scrollbar-bottom{position:absolute;bottom:0;}
.scrollbar-grip{position:absolute;top:50%;}

#kartHeadLine.pollkart{font-size:25px; !important}
#kartVotesCountet {   left: -25px;
    position: absolute;
    top: 105px;
    width: 300px;
}
#kartVotesCountet  .votesCountedContainerSmall {width: 77%;}

.votesDirection > img {
    width: 19px;
}
.posRel {position:relative;width:100%;height:100%;background-size: 30px auto;}
.repInnerWrapper .posRel > img {
    height: 30px;
    width: 30px;
	margin:1.5px;
}
.looseMandat, .specialMandat {position:absolute; top: -1px;}
.repInnerWrapperBig .specialMandat {position:absolute; top: -2px;}
#kartSwitch {
    float:right;
	margin-top: 20px;
}


#kartNormal{display:none;}
#kartCounty {
	/*position:relative;*/
}

#fylkeTT {
    position: absolute;background:white;z-index: 2;padding:3px;-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	pointer-events: none;
}


.specialMandat > img {
    position: absolute;
}

#velgBig > img,
#velgFylke > img ,
#velgSmall > img ,
#velgParti > img{
	width:30px;height:30px;
}
#velgBig ,
#velgFylke ,
#velgSmall  ,
#velgParti{
 background: none repeat scroll 0 0 transparent;
 }
.dunWrapper {
    margin-left: 70px;
	margin-right:40px;
	margin-top:7px;
}

.partiGroupName {
    font-size: 10px;
}
.bildWrapper { float: left;
    margin-left: 27px;
    margin-right: 10px;
    margin-top: 20px;}
.partiGroup {
	background-repeat: no-repeat;
    background-size: 71px auto;
    display: inline-block;
    height: 117px;
    margin: 20px 10px 0;
    overflow: visible;
    vertical-align: top;
    width: 73px;
	cursor:pointer;
}

.closeBtn {
   /* cursor: pointer;
    float: right;
    margin-right: -10px;
    margin-top: -15px;*/
	 cursor: pointer;
    position: absolute;
    right: 3px;
    top: -7px;
}
#blackOverlay {display:block; background-color: rgba(0, 0, 0, 0.5); color: rgba(0, 0, 0, 0.5);position:absolute;top:0;bottom:0;left:0;right:0;z-index:11;}

.sonic {
    margin: 25% 30% 30% 35%;
}
#votes .pollPanelLabel {
   /* display: none;*/
}
.closeMeBtn{float:right; width:30px;height:30px;display:block;cursor:pointer;}
.TTbig .closeMeBtn{padding-right: 20px;
    padding-top: 5px;}
.repFL {
  /*  margin-bottom: 15px;
    margin-top: 15px;*/
}
.TTbig .lineWrapper {
    display: block;
    width: 100%;
	margin-left:0px;
}

td.noData {
    color: white;
    font-size: 11px;
}
#mandates .headline {display:none;}
.whiteFont {
    color: white;
}

.borderTop > td {
    border-top: 1px solid white;
}
#kart,
#votes,
#mandates,
#parties,
#table{left:100%;right:-100%;}


#reloadableComponent .headline {
    display: none;
}

.newlogoBox > img {
    margin: 15px 8px 0;
    width: 24px;
}
.newlogoBox > img {
    margin: 15px 4px 0;
    width: 30px;
}
.repInfo{padding-bottom:15px;}
.TTbig .repInfo > br {
    display: none;
}
.TTbig .herrausforderer {
    padding-top: 15px;
}

.herrausfordererrighttext {
    margin-bottom: 5px;
    margin-left: -5px;
    margin-top: -5px;
}
.listItemlangBox .listItemSmall,
.listItemlangLegend1 .listItemSmall, 
.listItemlangLegend2 .listItemSmall{
    margin-right: 2px;margin-left: 2px;
}
#isFavorite > img {
    height: 42px;
    width: 42px;
}
/*#selectMunicipality,#favSelectorMuni{overflow: hidden; max-height: 100px;}*/ 
/*#selectMunicipality .regionWrapper, #favSelectorMuni .regionWrapper{
    max-height: 110px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 440px;
}*/

#noResltInfo {
	background-color: rgba(235, 235, 235, 0.8);
    border: 3px solid #FFFFFF;
    color: #7D7B7E;
    margin: 5% auto auto 8%;
    opacity: 1;
    padding: 10px;
    position: absolute;
    width: 80%;
    z-index: 2147483647;
	padding:25px;
	text-align:center;
	font-weight:bold;
	font-size: 17px;
}
.closeButton {
    background-image: url("../images/closeMe.png");
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
}

.myPollHeader {font-size:14px;color: #7D7B7E;text-align:center;}