﻿*{margin:0;padding:0;}
html, body { 
	margin: 0;
	padding: 0;
	
	font-family: 'Source Sans Pro', sans-serif;
	min-height:100%;
	min-height:115%;
	width: 100%;
	overflow:visible;overflow-x:hidden;
	
} 
body {-webkit-text-size-adjust: 100%;background-color:#00AFCC; }
body.FV {background-color:#00659C; }
#divCountySelect ul,#divCountyMunicipalitySelect ul {list-style:none;text-align:left;padding-left:10px;
    letter-spacing: 10px;}
#divCountySelect ul li,#divCountyMunicipalitySelect ul  li{ padding-top :3px; padding-bottom:3px;}
#divCountySelect ul ul,#divCountyMunicipalitySelect ul ul {list-style:none;padding-left:20px;text-align:left;
    letter-spacing: 8px;}
.tableRow{display: table-row;}
#main{
	background-color:#00AFCC;
	min-height:100%;
	width:100%;
	position:relative;
}
.FV #main{background-color:#00659C; }
#header{
	color:#FFFFFF;
	position:relative;
	background-repeat:no-repeat;
	height:101px;
	font-size:21pt;
	background-image:url('../images/urne.png');		
	background-size:auto 100% ;	
	margin: 30px 0 15px 20px;					
}
#headerContent{
		position: absolute; 
		bottom: 0; 
		left: 75px;
}
#logo {
	right: 10px;
	top: 0px;
	position: absolute;
	max-height: 70px;
	max-width: 155px;
}
.BT #logo {top:-7px;}
#content {position: relative;width: 100%;padding-bottom: 60px;}
.upperMainMeny , 
.bottomMainMeny{display:table;width:290px;height:97px;margin:auto;margin-top:10px;}
/*for bigger screen 
.upperMainMeny , 
.bottomMainMeny{display:table;width:300px;height:160px;margin:auto;}
*/
.upperMainMeny .button,
.bottomMainMeny  .button{height:96.66px;width:96.66px;vertical-align:bottom;}
.button{
	display:table-cell;
	text-align:center;
	color:#FFFFFF;
	cursor:pointer;
}
#upperBtnText, #bottomBtnText{display:table-row;}
#upperBtnText div,#bottomBtnText div{display:table-cell; text-align:center;color:#FFF;letter-spacing: 2px;text-align: center;font-size:10pt;font-weight:bold;}
.mMBtn {background-size: 77.93px 77.93px;}
.activeMMBtn{background-size: 100% 100%; margin: 0;}
#valgBtn {background-image:url('../images/button/valgBtn.png');background-repeat: no-repeat;background-position:center  9.06px;}
#valgBtn.notValg {background-image:url('../images/button/maalBtn.png');background-repeat: no-repeat;background-position:center  9.06px;}
#stortingBtn {background-image:url('../images/button/storBtn.png');background-repeat: no-repeat;background-position:center  9.06px;}
#reprBtn{background-image:url('../images/button/repBtn.png');background-repeat: no-repeat;background-position:center  9.06px;}
#duellenBtn {background-image:url('../images/button/duellBtn.png');background-repeat: no-repeat;background-position:center  9.06px;}
#favBtn {background-image:url('../images/button/FavBtn.png');background-repeat: no-repeat;background-position:center  9.06px;}
#buttonSearch  {background-image:url('../images/button/sookBtn.png');background-repeat: no-repeat;background-position:center  9.06px;}

/*** fv buttons ***/
.FV #valgBtn {background-image:url('../images/button/valgBtnFV.png');background-repeat: no-repeat;background-position:center  9.06px;}
.FV #valgBtn.notValg {background-image:url('../images/button/maalBtnFV.png');background-repeat: no-repeat;background-position:center  9.06px;}
.FV #stortingBtn {background-image:url('../images/button/storBtnFV.png');background-repeat: no-repeat;background-position:center  9.06px;}
.FV #reprBtn{background-image:url('../images/button/repBtnFV.png');background-repeat: no-repeat;background-position:center  9.06px;}
.FV #duellenBtn {background-image:url('../images/button/duellBtnFV.png');background-repeat: no-repeat;background-position:center  9.06px;}
.FV #favBtn {background-image:url('../images/button/FavBtnFV.png');background-repeat: no-repeat;background-position:center  9.06px;}
.FV #buttonSearch  {background-image:url('../images/button/sookBtnFV.png');background-repeat: no-repeat;background-position:center  9.06px;}


#valgBtn.activeMMBtn{background-image:url('../images/button/valgBtnActive.png');background-repeat: no-repeat;background-position:center top;}
#stortingBtn.activeMMBtn{background-image:url('../images/button/storBtnActive.png');background-repeat: no-repeat;background-position:center top;}
#reprBtn.activeMMBtn{background-image:url('../images/button/repBtnActive.png');background-repeat: no-repeat;background-position:center top;}
#duellenBtn.activeMMBtn{background-image:url('../images/button/duellBtnActive.png');background-repeat: no-repeat;background-position:center top;}
#favBtn.activeMMBtn{background-image:url('../images/button/favBtnActive.png');background-repeat: no-repeat;background-position:center top;}
#buttonSearch.activeMMBtn{background-image:url('../images/button/sookBtnActive.png');background-repeat: no-repeat;background-position:center top;}
/** fv button **/
.FV #stortingBtn.activeMMBtn{background-image:url('../images/button/storBtnActiveFV.png');background-repeat: no-repeat;background-position:center top;}
#stemmerMeny {width:100%;display:table;padding-top:5px; background: white;padding-bottom: 15px;}
.FV #valgBtn.activeMMBtn{background-image:url('../images/button/valgBtnActive.png');background-repeat: no-repeat;background-position:center top;}
.buttonBarButton1,
.buttonBarButton2,
.buttonBarButton3,
.doubleButtonBarButton1,
.doubleButtonBarButton2,
#buttonNation,
#buttonCounty,
#buttonMunicipality {color: #FFF;; background-color: #00AFCC;border: 1px solid white; width: 30%; }


.FV .buttonBarButton1,
.FV .buttonBarButton2,
.FV .buttonBarButton3,
.FV .doubleButtonBarButton1,
.FV .doubleButtonBarButton2,
.FV #buttonNation,
.FV #buttonCounty,
.FV #buttonMunicipality{background-color:#00659C;}


#buttonNation,
#buttonCounty,
#buttonMunicipality {padding-top: 5px;padding-bottom: 5px;}
.doubleButtonBarButton1,
.doubleButtonBarButton2{width:48%;display:inline-block;padding-bottom: 2px;border:none;padding-top: 2px;}
.buttonBarButton1,
.buttonBarButton2,
.buttonBarButton3{display:inline-block;width:32%;border:none;padding-bottom: 2px;
    padding-top: 2px;}
.contentDiv{
	text-align:center;
	display:none;
	background-color:#FFFFFF;
}
#divNation {}
#columnsContainer{
	position: relative;
		font-size:10pt;
		text-align:center;		
	}
	
#columnsBackground {
	font-size:12px;
		font-weight:normal;
		font-style:italic;
		color:#9197A6;
		width:100%;
	    height: 100%;
}
.contentHeadline { font-weight:bold; text-align: left; padding-left: 10px; letter-spacing: 2px; padding-top: 7px; padding-bottom:5px;}
.bigGreyHL {text-align: left; margin-left: 10px; letter-spacing: 2px; color:#7D7B7E;font-size: 16pt;font-weight: lighter; padding-top: 5px;}
.buttonBar{
    border-collapse: collapse;
    width: 100%;
	display:none;
}

#footer{
		width:100%;
		margin-top:20px;
		height:30px;
		line-height:20px;
		background-image:url('../images/logo_320.png');
		background-repeat:no-repeat;
		background-position:center center;
		background-size: 60% auto;
		/*position:absolute;*/
		bottom:30px;
		clear:both;
	}

#divCounty,
#divMunicipality{position:relative;}	

#mainCircle,
#divNation,
#divCounty,
#divMunicipality,
#divSearch,
#divFav,
#divRepres,
#divDuell {/*min-height:250px;*/height:1%;overflow:hidden;background:url('../images/dataFooter.png') repeat-x 0 99.5% #fff;padding-top:5px;}
#divDuell #pollSelect_blokk {display:none;}
.bottomFooter {
	background-image:url('../images/footer.png');
	width:100%;
	height:30px;
	background-repeat:repeat-x;
	/*position:absolute;*/
	bottom:0;
	clear:both;
}
.FV .bottomFooter {	background-image:url('../images/footerFV.png');}
/*** STORTING ***/
.rotate{
	
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}
.mirror{
	/*-moz-transform:scaleX(-1);
	-ms-transform:scaleX(-1);
	-webkit-transform:scaleX(-1);
	-o-transform:scaleX(-1);
	transform:scaleX(-1);*/
}
.mirrorY{
	-moz-transform:scaleY(-1) scaleX(-1) ;
	-ms-transform:scaleY(-1) scaleX(-1);
	-webkit-transform:scaleY(-1) scaleX(-1);
	-o-transform:scaleY(-1 scaleX(-1));
	transform:scaleY(-1) scaleX(-1);
}
.storHeader{text-align: left;}
.storBtnMenu,
.represBtnMenu{background-color:#00AFCC; display:table;width:100%;}

.FV .storBtnMenu,
.FV .represBtnMenu{background-color:#00659C;}

.redSeats {position: absolute;bottom:0;left:-250px;}
.blueSeats {position: absolute;right:175px;}
.blueSeats,.redSeats{
	
	width:22px;
	height:22px;
    -webkit-border-radius:24px;
	-moz-border-radius: 24px;
	border-radius:24px;
    text-align:center;
    
	top:100px;
	font-size: 40pt;
	font-weight: lighter;
}
.circleWrapper {
	/*background: #FFF;*/
	overflow:hidden;

}
#mainCircle {
	display: none;
	/*min-height:380px;*/
	width:100%;
	position:relative;
	/*margin-left: 20px;
	margin-top: -10px;*/
	overflow:hidden
	
}
#mainCircle #votesCountedContainer {position: absolute; bottom:15px;}
#mainCircle #lastUpdatedContainer {position: absolute; bottom:0;}
#mandaterParti,#mandaterBlock{
	transform:scale(0.6);
	-moz-transform:scale(0.6);
	-ms-transform:scale(0.6);
	-webkit-transform:scale(0.6);
	-o-transform:scale(0.6);
	margin-left:230px;
	padding-top:20px;
	height: 425px;
	margin-top: -95px;
	color: grey;
	/*margin-top:250px;*/
}
#mandaterParti {height: 400px;margin-top: -90px; }
#mandatPartiBtn,#mandatBlockBtn,#represPartiBtn,#represFylkeBtn{
	padding-top: 3px;padding-bottom:3px;border:1px solid #FFFFFF;
}
.maalingInfo.stortinget {position:absolute;bottom:15px;}
.storParteiImages {
	position: absolute;
	bottom: 0px;
	left:-380px;
	width: 450px;
}
.proRotPartier{
	width: 225px;text-align: left;
} 
.proBlauPartier{
	width: 225px;text-align: right;
}
#mainCircleHeaderText{
	color:#5A5A5A;
	width:100%;
	text-align:center;
	margin-top:50px;
	opacity:0;
}
#mainCircleDescriptionText{
	color:#000000;
	width:100%;
	text-align:center;
	margin-top:-10px;
	opacity:0;
    font-weight: normal;
}
#mainCircleRegionText{
	color:#000000;
	width:100%;
	text-align:center;
	margin-top:-10px;
	opacity:0;
	font-size:16pt;
}
#divCircleVotesCounted{
	position:fixed;
	width: 300px;
}

.divMainComponent{
	opacity:0;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -230px;
    margin-top: -200px;/*-210px;*/ /* (height / 2) - 10px offset*/	
	width:460px;/*this has to be changed in tablet_parer.js also*/
	height:350px; /*this has to be changed in tablet_parer.js also*/
	font-size:14pt;
    padding-bottom: 20px;
}
#mainCircle .logo{
	max-width:40px;
	position:absolute;
	bottom:0;
}
.mandatesLabel{
	
	width:45px;
	height:16px;
    text-align:right;
    padding:8px;
    position:absolute;
	font-size:14pt;
	border-bottom: 2px solid darkgrey;
}
.mandatesDescription{
	font-size:14pt;
	width:111px;
	text-align:center;
	position:absolute;
	left:173px;
}
.mandatesMajority{
	font-weight:bold;
	font-size:10pt;
	color:#000000;
	width:111px;
	height:13px;
	text-align:center;
	border-collapse:collapse;
	position:absolute;
	left:173px;
	bottom:30px;
}

#majorityComponentRedSalen{
	background-color:#FF0000;
	height:100%;
}

#majorityComponentBlueSalen{
	background-color:#00AFCC;
	height:100%;
}

/* Smartphone */
/*@media screen and (min-device-width : 321px) { 
	#header{
		height:165px;
		font-size:33pt;
		background-image:url('../images/urne_480.png');
		margin: 0 0 0 18px;			
	}
	#headerContent{
		position: absolute; 
		bottom: 17px; 
		left: 132px;
	}
	#logo {
	    right: 10px;
	    top: 20px;
	    position: absolute;
	    max-width: 240px;
	}
	.button{
		background-image:url('../images/mainbtn_1x70.png');
		height:70px;
		line-height:70px;
		font-size:21pt;
	}
		
	#divNation{
		min-height:256px;
	}
	#divCounty{
		min-height:291px;
	}
	#divMunicipality{
		min-height:300px;
	}
	#divSearch{
		min-height:291px;
	}
		
	#footer{
		height:100px;
		line-height:100px;
		background-image:url('../images/logo_480.png');
		background-repeat:no-repeat;
		background-position:center center;
	}
	*/
	/* County selectbox */
	/*.divSelect{
		padding-top:15px;	
	}
	.divSelectLeft{
		padding-left:40px;
	}
					
	.styled{
		width:200px;
		text-align:center;
		height:37px;
		font-size:18pt; 
		font-weight:bold;
	    text-decoration: underline;
		color:#464646;
	    border: none;
		-webkit-appearance: listbox;
	}
	*/

	/* Buttonbar */	
	/*.divButtonBar{
		padding-top:15px;
	}
	
	.divButtonBarTwoButtons{
		padding-top:15px;
		padding-left:90px;
	}
	
	.buttonBarButton1{
		background-repeat:no-repeat;
		background-image:url('../images/blokk_480_off.png');
	    background-position: right;
		height:63px;
	}
	.buttonBarButton2{
		background-repeat:no-repeat;
		background-image:url('../images/stemmer_480_off.png');
		background-position: center;
        width:159px;
		height:63px;
	}
	.buttonBarButton3{
		background-repeat:no-repeat;
		background-image:url('../images/repr_480_off.png');
	    background-position: left;
		height:63px;
	}
	.doubleButtonBarButton2{
		background-repeat:no-repeat;
		background-image:url('../images/stemmerbig_480_off.png');
	    background-position: right;
		width:221px;
		height:63px;
	}
	.doubleButtonBarButton3{
		background-repeat:no-repeat;
		background-image:url('../images/mandaterbig_480_off.png');
	    background-position: left;
		width:225px;
		height:63px;
	}
	
	.dataDiv{
		padding-top:15px;	
	}			
	*/
	/* Majority container*/
	/*#majorityContainer{
		font-size:18pt;
		padding-top:21px;
		padding-left:21px;
		padding-right:21px;
	}
	#majorityComponentRed{
	    height:100%;
        width:50%;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 0;
        border-right:1px #000000 solid;
    }

    #majorityComponentBlue{
	    height:100%;
        width:50%;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 0;
        padding-right: 5px;
        border-left:1px #000000 solid;
    }
	*/
	/* Votes counted*/
	/*#votesCountedContainer{
		font-size:12pt;
		padding-top:21px;
		padding-left:21px;
		padding-right:21px;
	}
	
	.votesCountedHeader{
		padding-top:6px;
	}
    .votesCountedPercent {
        text-align: right;
        width: 80px;
    }
*/
	
	/* Votes maincomponent*/
	/*#votesContainer{
		font-size:18pt;
	}

	.votesLogo{
		padding-top:3px;
		width:52px;
	}
	.votesValue{
		padding-top:3px;
		padding-bottom:3px;	
	}
	.votesDiff{
		padding-top:3px;
		padding-bottom:3px;	
	}
	.votesDirection{
		padding-top:3px;
	}
	*/
	/* Last updated component*/
	/*#lastUpdatedContainer{
	    font-size: 12pt;		
		font-weight:normal;
		padding-top:21px;
	    padding-bottom: 21px;
		width:100%;
	}	
	*/	
	/* Columns */
	/*#columnsContainer{
		width:100%;
		position:relative;
		font-size:10pt;
		text-align:center;		
	}
	#columnsBackground{
		font-size:12pt;
		font-weight:normal;
		font-style:italic;
		color:#9197A6;
		width:100%;
	    height: 100%;
	}
*/
	/* Search */	
	/*#searchBox{
		color:#C8C8C8;
		font-size:21pt;
		-webkit-appearance: textfield;
	}
	
	#myDataHeader {
	    padding-top: 21px;
	    font-size: 18pt;	    
		font-weight:bold;
		color:#464646;
	}
	*/
	/* Favourite component*/
	/*.favouriteContainer {
	    font-size:14pt;
	    width:100%;
	    text-align: left;
	   	color:#464646;
    }
	.favouriteCell {
	    height: 40px;
	    line-height: 40px;
	    padding-left:5px;
	}
	
	.partyNames {
	    padding-top: 15px;
	    padding-left: 5px;
	    text-align: left;
	    font-weight: normal;
	    font-size: 12pt;	    
	}
}
*/

/* iPhone */
/*@media screen and (max-device-width : 320px){
	#header{
		height:110px;
		font-size:21pt;
		background-image:url('../images/urne_320.png');				
		margin: 0 0 0 12px;			
	}
	
	#headerContent{
		position: absolute; 
		bottom: 12px; 
		left: 88px;
	}
	#logo {
	    right: 5px;
	    top: 5px;
	    position: absolute;
	    max-width: 160px;
	}
	.button{
		background-image:url('../images/mainbtn_1x45.png');
		height:45px;
		line-height:45px;
		font-size:14pt;
	}
		
	#divNation{
		min-height:256px;
	}
	#divCounty{
		min-height:291px;
	}
	#divMunicipality{
		min-height:300px;
	}
	#divSearch{
		min-height:291px;
	}
	
	#footer{
		height:66px;
		line-height:66px;
		background-image:url('../images/logo_320.png');
		background-repeat:no-repeat;
		background-position:center center;
	}
	*/
	/* Buttonbar */	
	/*.divButtonBar{
		padding-top:10px;
	}

	.divButtonBarTwoButtons{
		padding-top:10px;
		padding-left:59px;
	}

	.buttonBarButton1{
		background-repeat:no-repeat;
		background-image:url('../images/blokk_320_off.png');
	    background-position: right;
		height:42px;
	}
	.buttonBarButton2{
		background-repeat:no-repeat;
		background-image:url('../images/stemmer_320_off.png');
	    background-position: center;
		width:107px;
		height:42px;
	}
	.buttonBarButton3{
		background-repeat:no-repeat;
		background-image:url('../images/repr_320_off.png');
	    background-position: left;
		height:42px;
	}
	.doubleButtonBarButton2{
		background-repeat:no-repeat;
		background-image:url('../images/stemmerbig_320_off.png');
	    background-position: right;
		width:147px;
		height:42px;
	}
	.doubleButtonBarButton3{
		background-repeat:no-repeat;
		background-image:url('../images/mandaterbig_320_off.png');
	    background-position: left;
		width:151px;
		height:42px;
	}
	*/
	/* County selectbox */
	/*.divSelect{
		padding-top:10px;
		text-align: center;
	}
				
	.styled{
	    width:140px;
		text-align:center;
		height:25px;
		font-size:12pt;
		font-weight:bold;
	    text-decoration: underline;
		color:#464646;
	    border: none;
		-webkit-appearance: listbox;
	}
			
	.dataDiv{
		padding-top:10px;	
	}
	*/
	/* Majority container*/
	/*#majorityContainer{
		font-size:14pt;
		padding-top:14px;
		padding-left:14px;
		padding-right:14px;
	}	
	*/
	/* Votes counted*/
	/*#votesCountedContainer{
		font-size:9pt;
		padding-top:14px;
		padding-left:14px;
		padding-right:14px;
	}
	#majorityComponentRed{
	    height:100%;
	    width: 50%;
        padding-bottom: 3px;
        padding-top: 3px;
        padding-left: 3px;
        padding-right: 0;
        border-right:1px #000000 solid;
    }

    #majorityComponentBlue{
	    height:100%;
        width: 50%;
        padding-bottom: 3px;
        padding-top: 3px;
        padding-left: 0;
        padding-right: 3px;
        border-left:1px #000000 solid;
    }
	
	.votesCountedHeader{
		padding-top:4px;
	}
	.votesCountedPercent {
        text-align: right;
        width: 60px;
    }
*/
	/* Votes maincomponent*/
	/*#votesContainer{
		font-size:12pt;
	}
	
	.votesLogo{
		padding-top:2px;
		width:34px;
	}
	.votesValue{
		padding-top:2px;
		padding-bottom:2px;	
	}
	.votesDiff{
		padding-top:2px;
		padding-bottom:2px;	
	}
	.votesDirection{
		padding-top:2px;
	}
*/
	/* Last updated component*/
	/*#lastUpdatedContainer{
	    font-size: 9pt;		
		font-weight:normal;
		padding-top:14px;
	    padding-bottom: 14px;
		width:100%;			
	}
*/
	/* Columns */
	/*#columnsContainer{
		width:100%;
		position:relative;
		font-size:9pt;
		text-align:center;
	}
	#columnsBackground{
		font-size:10pt;
		font-weight:normal;
		font-style:italic;
		color:#9197A6;
		width:100%;
	    height: 100%;
	}
	*/
	/* Search */
	/*#searchBox{
		color:#C8C8C8;
		font-size:14pt;
		-webkit-appearance: textfield;
	}
		
	#myDataHeader {
	    padding-top: 14px;
	    font-size: 12pt;	    
		font-weight:bold;
		color:#464646;
	}
	*/		
	/* Favourite component*/
	/*.favouriteContainer {
	    font-size:10pt;
	    width:100%;
	    text-align: left;
	   	color:#464646;
        width: 100%;
	}
	.favouriteCell {
	    height: 30px;
	    line-height: 30px;
	    padding-left:5px;
	}
		
	.partyNames {
	    padding-top: 10px;
	    padding-left: 5px;
	    text-align: left;	    
		font-weight: normal;
		font-size: 9pt;	    
    }
}
*/
/*valg eller ikke */

.maalingBtn {
	display: block;
	background-image: url("../images/button/maalinfoknapp.png");
	background-position:right 1px;
	background-size: 50%;
	background-repeat: no-repeat;
	margin-right: 10px;
}
/* Votes maincomponent*/
#votesContainer{
	width:100%;
	border:1px #FFFFFF solid;
}
.votesDiff{
	font-weight:normal;
	font-style:italic;
}
.votesValue {
    font-weight: bold;
}
.searchResult{
	color:#000000;
}



/* Columns component*/
.columnsBackgroundRow{
	border-bottom:1px #E7E7E7 solid;
    vertical-align: bottom;
}


/* Majority component*/
.majorityContainer{
	width:100%;
	font-weight:bold;
	color:#000000;
	text-align:center;
	border-collapse:collapse;
}

/* Votes counted*/
#votesCountedContainer{
	margin-top: 10px;
	width:60%;
	padding:10px;
	font-weight:normal;
	font-size: 9pt;
	text-align: right;
	color:#000; 	
}
.votesCountedHeader{
	text-align:left;
	font-style:italic;
}
#votesCountedEmpty{
	background-color:#ECECEC;
	width: 70%;
}
#votesCountedFilled{
	background-color:#777;
}
#votesCountedText{
	text-align:right;
}

.mask {
	position: absolute;
	width:85px;
	height:17px;
	z-index: 99999;
	background-image: url("../images/mask2.png");
	background-size:100% 100% ;
}
#majorityComponentRed,
#majorityComponentBlue
	{position:relative; width: 85px;height: 19px;}
#red,
#blue {height: 17px;}
.dataDiv {height: 1%;
    overflow: visible;
    padding-bottom: 30px;
    padding-top: 15px;}
#divDuellData.dataDiv {padding-top:0px;}
.active {background-color:#000 !important;}

/*** duell ***/
.pfeil {
	background-image: url("../images/duellPfeil.png");
	background-repeat: no-repeat;
	background-position:1px 0px;
	position:absolute;
	width:30px;
	height:150px;
	left:110px;
	bottom:-10px;
	-ms-transform-origin:center 135px ;
	-webkit-transform-origin:center 135px ;
	-moz-transform-origin:center 135px ;
	-o-transform-origin: center 135px ;
	transform-origin: center 135px ;
}
.duellWrapper{width: 100%;}
.duellContainer {height:130px;width:250px;margin:auto;position:relative;}
.forBG {position:absolute;top:0;bottom:0;left:0;right:0;background-image: url("../images/duellBg.png");background-position:1px -22px;}
.duellInfo {text-align:left; margin-left: 10px;margin-right: 10px;font-weight: lighter;font-size: 9pt;margin-top: 5px;}
.proRotHL, .proBlauHL {letter-spacing: 2px;display:table-cell;font-weight:lighter;font-style:italic;}
.proRotHL,.proRot { text-align:left;padding-left:10px;}
.proBlauHL,.proBlau { text-align: right;padding-right:10px;}
.proRot,.proRotPartier, .proBlau , .proBlauPartier{display:table-cell; font-size:16pt;font-weight:lighter;}
.proInfo  {width:100%; display:table;padding-top:15px;}
.proInfo  .tableRow {width: 300px;margin:auto;}
.maalingInfo {font-weight:lighter;color:dark-grey;font-size: 9pt;margin-top: 15px;padding-bottom: 10px; }

#duellBlue {}
#duellBlue .pie{
	background-color: #0091CC; /*blue*/
}
#duellRed{
	-webkit-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-o-transform:rotate(270deg);
	-ms-transform:rotate(270deg);
	transform:rotate(270deg);}
#duellRed .pie{
	background-color: #DD5E74;/* red;*/
}
.hold{
	position: absolute;
	width: 250px;
	height: 250px;
	-moz-border-radius: 125px;
	-webkit-border-radius: 125px;
	border-radius: 125px;
	-o-border-radius: 125px;
	clip: rect( 0px, 250px, 250px, 125px);
}
.pie{
	position:absolute;
	width:250px;
	height:250px;
	-moz-border-radius: 125px;
	-webkit-border-radius: 125px;
	border-radius: 125px;
	-o-border-radius: 125px;
	clip: rect( 0px, 125px, 250px, 0px);
}

/*** fav ***/
.favouriteContainer {
	width: 100%;
	border-top: 2px solid lightgrey;
	margin-top:10px;
}
.favInfo{display:table;width:100%;}
.favInfoOn{display:table-row;}
.favInfoOff{display:table-row;}
.favHL{padding-top:7px;}

#isFavBtn, #isNotFavBtn{position: absolute;top:6px;right:5px; width:25px; height:25px;}
#isFavBtn{background-image: url("../images/fav_on.png");background-size: 25px;}
#isNotFavBtn{background-image: url("../images/fav_off.png" );background-size: 25px;}
.favouriteCellText {text-align: left;}

/***search **/
#searchBox {width: 95%; border: 1px solid #7F7F7F;padding: 7px;-webkit-appearance:none;border-radius:0px;font-size: 12pt;}

#searchResSted,#searchResRep {border-top:1px solid #7F7F7F;margin-left:2.5%;margin-right:2.5%;font-weight:lighter;}
#stedHL, #repHL {padding-left:10px;text-align:left;font-weight:lighter;padding-top:5px;padding-bottom:5px;}
.searchResult {text-align:left;padding-left:15px;font-weight:lighter;padding-top:3px;padding-bottom:3px;}
#blackOverlay {display:block; background-color: rgba(0, 0, 0, 0.5); color: rgba(0, 0, 0, 0.5);position:absolute;top:0;bottom:0;left:0;right:0;
}
/*** REPRESENTANTER ***/
#divRepres {overflow:hidden;height:1%;padding-bottom:30px;}
.galleriHL{width:100%;text-align:center;font-size: 24pt;letter-spacing: 10px;margin-top: 25px;display:block;color:#7D7B7E;}
#repWrapper,#repListWrapper {width:110%;margin:auto;position:relative;height:1%;overflow:hidden;}
#Fylke01,#Fylke02,#Fylke03,#Fylke04,#Fylke05,#Fylke06,#Fylke07,#Fylke08,#Fylke09,#Fylke10,#Fylke11,#Fylke12,#Fylke13,#Fylke14,#Fylke15,#Fylke16,#Fylke17,#Fylke18,#Fylke19,#Fylke20,
#Parti1,#Parti2,#Parti3,#Parti4,#Parti5,#Parti6,#Parti7,#Parti8,#Parti9{display:block;width:100%;height: auto;text-align:left;position:relative;}
.miniBtnBar{float:right;}
.fylke1holder,.fylke2holder,.fylke3holder,.fylke4holder,.fylke5holder,.fylke6holder,.fylke7holder,.fylke8holder,.fylke9holder,.fylke10holder,.fylke11holder,.fylke12holder,.fylke13holder,.fylke14holder,.fylke15holder,.fylke16holder,.fylke17holder,.fylke18holder,.fylke19holder,.fylke20holder,
.parti1holder,.parti2holder,.parti3holder,.parti4holder,.parti5holder,.parti6holder,.parti7holder,.parti8holder,.parti9holder{height:0px;display:none;overflow:hidden;}
.repholder{background-image: url("../images/rep/big/dummy_big.jpg");
    background-position: 13px 9px;
    background-repeat: no-repeat;
    background-size: 73px auto;
    display: inline-block;
    height: 90px;
    width: 30%;}
.activeRep{background-color:lightgrey;}
.repTT {width:100%;/*display:none;*/height:0;background-color:lightgrey;overflow:hidden;margin-top:-5px;}
.newlogoBox {float:left;height:200px;width:50px;}
.repBox {
    font-size: 11pt;
    margin-left: 50px;
    margin-right: 25px;
}
.partiHeadline { width:60%;padding:5px;}
.partiHeadline img {width:33px;padding:2px;}
.partiHeadline img , .partiHeadline div {display:table-cell;}
.partiListBtn{background-image: url("../images/button/listBtn.png");background-size: 25px;}
.partiBildeBtn{background-image: url("../images/button/bildeBtn.png");background-size: 25px;}
.partiListBtn,.partiBildeBtn { width:25px; height:25px; display:block!important;float:right;margin-left:5px;margin-right:5px;}
.partiLabel,.fylkeLabel {width:85%;vertical-align: middle;}
.repImgBG{position:relative;width:80%;height:76px;background-repeat:no-repeat;margin:9px auto; background-position: 3px top;background-size: 75px auto;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;}
.repImgBlend {background-image: url("../images/rep/repCoverBig.png");    background-size: 100% auto;

    height: 97px;

    position: absolute;

	top: -15px;
    width: 100px;
}
.activeRep .repImgBlend {background-image: url("../images/rep/repCoverBigOpen.png");	
}

.repImgBG .specialMandat {
    position: absolute;
}
.listRep {display:none;margin-bottom:5px;}
.listRepContent  {height:0;overflow:hidden;}
.listHeader {display:block;line-height:30px;}
.specialMandat {
    display: table-cell;
    width: auto;
}
.partiLogoHolder,.listRepName{display:table-cell;}
.listRepName{vertical-align:middle;}
.partiLogoHolder{padding: 0px 5px 0 10px}


.latestPollSelect {
    margin: 10px auto;
    width: 90%;
}
#lastWeek {
    margin: auto;
    width: 90%;
}
#lastWeek > select {
    width: 100%;
}

.partyNames {
    font-style: italic;
	display:block;
	padding-bottom:10px;
}
.disabled {opacity: 0.35;}
#lastUpdatedContainer{font-size:14px;}
.pollPanelLabel.maalingInfo.stortinget {position:relative;display:block;}

.repInfo {
    padding-top: 7px;
}
.repLeft {
    float: left;font-weight:bold;
}

.repRight {
    margin-left: 70px;
}

.repName {
    font-size: 13pt;
    font-weight: bold;
    margin-left: 45px;
}
.repHeadline .repPartiLogo.partiLogo1 {
    float: left;
    height: 33px;
    width: 33px;padding-top:5px;
}
.bold {font-weight:bold;}
.repFL {
    padding-right: 5px;
}
.listRep.activeRep{background-image: url("../images/closeMe.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 30px 30px;background-position: 91% 1%;}

.miniBtnBar{visibility:hidden;z-index:100;margin-right: 29px;    position: absolute;
    right: 0;
    top: 0;}
/*.holder{clear:both;}*/

.specialMandat > img {
    position: absolute;
}
.listHeader .specialMandat > img {
    position: relative;
}

.herrausfordererbottom {
    display: block;
	    margin-left: 5px;
    margin-top: 5px;
}

.herrausfordererright {
    display: inline-block;
    width: 250px;
}

.herrausfordererleft {
    display: inline-block;
    margin-left: 5px;
    width: 75px;
}

.herrausfordererpartyimg {
    display: inline-block;
}

.herrausfordererbottomtext {
    display: inline-block;
    line-height: 20px;
    margin-left: 5px;
    vertical-align: 10px;
}

.herrausforderertext {
    font-size: 14px;
}
.herrausforderer {
    margin-top: 35px;
}
#noResltInfo {
	background-color: rgba(235, 235, 235, 0.8);
    border: 3px solid #FFFFFF;
    color: #7D7B7E;
    margin: 2%;
    opacity: 1;
    padding: 10px;
    position: fixed;
    width: 80%;
    z-index: 2147483647;
	padding:25px;
	text-align:center;
	font-weight:bold;
	font-size: 17px;
}
.closeButton {
    background-image: url("../images/closeMe.png");
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
}